<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js" ></script>
</head>

<body>
			<!--top-->
			<include file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(0).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">


				<div class="">
					<div class="tab_tle">
						<span class="int_s"></span>客服统计
					</div>
					<ul class="statistics">
						<li>本周派单：5</li>
						<li>昨日派单：5</li>
						<li>今日派单：5</li>
					</ul>
				</div>
				<div class="">
					<div class="tab_tle">
						<span class="int_s"></span>销售统计
					</div>
					<ul class="statistics">
						<li>新增档案：5</li>
						<li>新增订单：5</li>
						<li>上单提醒：5</li>
						<li>下户提醒：5</li>
					</ul>
				</div>
				<div class="">
					<div class="tab_tle">
						<span class="int_s"></span>阿姨统计
					</div>
					<ul class="statistics">
						<li>阿姨数量：5</li>
						<li>昨日新增：5</li>
						<li>今日新增：5</li>
						<li>下户提醒：5</li>
					</ul>
				</div>
				<div class="">
					<div class="tab_tle">
						<span class="int_s"></span>保险统计
					</div>
					<ul class="statistics">
						<li>新增保险：5</li>
						<li>未买保险：5</li>
						<li>已买保险：5</li>
					</ul>
				</div>
				<div class="">
					<div class="tab_tle">
						<span class="int_s"></span>财务统计
					</div>
					<ul class="statistics">
						<li>新增催款：5</li>
						<li>新增收款：5</li>
						<li>新增工资：5</li>
						<li>未发工资：5</li>
					</ul>
				</div>
			</div>
			<!--main end-->
</body>

</html>
