<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

</head>

<body>
			<!--top-->
			<include  file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(6).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle">
					<span class="int_s"></span>详细信息
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>客户姓名：</label><span class="w_555"><a href="__MODULE__/Order/clientFile/id/{$info.id}.html">{$info.name}</a></span>
					</div>
					<div class="form-group">
						 <label>订单金额：</label><span class="w_555">{$info.contract_money}</span>
					</div>
					<div class="form-group">
						 <label>已收款：</label><span class="w_555">{$info.get_money}</span>
					</div>
					<volist name="order_nurse" id="vo">
						<div class="form-group">
							<label><a href="__MODULE__/Nurse/nurseInfo/id/{$vo.nurse_id}.html">{$vo.nurse_name}</a>：</label><span class="w_555">{$vo.true_b_time}--{$vo.true_s_time}</span>
						</div>
					</volist>

					<div class="form-group">
						 <label>预计上户时间：</label><span class="w_555">{$info.b_time}</span>
					</div>
					<div class="form-group">
						 <label>预计下户时间：</label><span class="w_555">{$info.s_time}</span>
					</div>
					<div class="form-group">
						 <label>催款记录：</label>
						<br/>
						<volist name="order_press" id="vo">
								<span class="w_555" style="margin-left: 90px;">{$vo.press_time}({$vo.remark}) </span> <br/>
						</volist>

					</div>
					<div class="form-group">
						 <label>收款记录：</label>		<br/>
						<volist name="order_get_money" id="vo">
						<span class="w_555" style="margin-left: 90px;">{$vo.get_money} | {$vo.get_time}({$vo.remark}) </span> <br/>
					</volist>
					</div>
				</div>
				<div class="form-group" style="margin-left: 19px;">
					<button type="button" class="default_btn" onclick="javascript:history.back(-1);">返回</button>
				</div>
				
			</div>
			<!--main end-->
</body>

</html>
