<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>


</head>

<body>
			<!--top-->

			<include  file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(3).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<ul class="nav nav-tabs">
					<li <if condition="$belong eq 1">class="active"</if>>
						 <a href="__MODULE__/OrderShow/orderList.html">订单列表</a>
					</li>
					<li <if condition="$belong eq 2">class="active"</if>>
						 <a href="__MODULE__/OrderShow/onOrderList.html">上单列表</a>
					</li>
					<li <if condition="$belong eq 3">class="active"</if>>
						 <a href="__MODULE__/OrderShow/downOrderList.html">下单列表</a>
					</li>

					<li <if condition="$belong eq 4">class="active"</if>>
					<a href="__MODULE__/OrderShow/onOrderDoList.html">上户提醒</a>
					</li>

					<li <if condition="$belong eq 5">class="active"</if>>
					<a href="__MODULE__/OrderShow/downOrderDoList.html">下户提醒</a>
					</li>
				</ul>
				<div class="form-inline">
					<div class="form-group">
						 <label>客户姓名</label><input type="text" class="form-control" id="name" />
						<input type="hidden"  id="belong" value="{$belong}"/>
					</div>
					<if condition="$_SESSION[C('USER_AUTH_KEY')]['permission'] eq 11">
					<div class="form-group">
						 <label>顾问</label>
						<select class="form-control" id="employee_id">
							<option value="0">全部</option>
							<volist name="employee" id="vo">
								<option value="{$vo.id}">{$vo.real_name}</option>
							</volist>
							<!--<option>黄显均</option>-->
							<!--<option>黄显均2</option>-->
						</select>
					</div>
						</if>
					<div class="form-group">
						 <label>类型</label>
						 <select class="form-control"  id="other" >
					         <option value="0">全部</option>
					         <option>月嫂</option>
					         <option>育儿嫂</option>
					         <option>保姆</option>
					         <option>钟点工</option>
					     </select>
					</div>
					<div class="form-group">
						 <label>联系方式</label><input type="text" class="form-control" id="phone"/>
					</div>
					<div class="form-group">
						 <button type="submit" class="subform" id="search">搜索</button>
					</div>
					
				</div>
				<table class="tab_info">
					<tbody>
						<tr class="present_num">
							<td colspan="14">
								当前搜索订单：<span id="show_number_str"></span>条
							</td>
						</tr>

						<if condition="$belong eq 1">
							<tr class="info_name">
								<td >客户姓名</td>
								<td >类型</td>
								<td >联系方式</td>
								<td >阿姨姓名</td>
								<td >顾问</td>
								<td >上户时间</td>
								<td >下户时间</td>
								<td >状态</td>
								<td >订单金额</td>
								<td >阿姨工资</td>
								<td >操作</td>
							</tr>
							<elseif condition="$belong eq 2"/>
							<tr class="info_name">
								<td >客户姓名</td>
								<td >类型</td>
								<td >联系方式</td>
								<td >阿姨姓名</td>
								<td >顾问</td>
								<td >上户时间</td>
								<td >下户时间</td>
								<td >订单金额</td>
								<td >阿姨工资</td>
								<td >操作</td>
							</tr>


							<elseif condition="$belong eq 3"/>
							<tr class="info_name">
								<td >客户姓名</td>
								<td >类型</td>
								<td >联系方式</td>
								<td >阿姨姓名</td>
								<td >顾问</td>
								<td >上户时间</td>
								<td >下户时间</td>
								<td >订单金额</td>
								<td >阿姨工资</td>
								<td >操作</td>
							</tr>



							<elseif condition="$belong eq 4"/>

							<tr class="info_name">
								<td >客户姓名</td>
								<td >类型</td>
								<td >联系方式</td>
								<td >阿姨姓名</td>
								<td >顾问</td>
								<td >上户时间</td>
								<td >下户时间</td>
								<td >订单金额</td>
								<td >阿姨工资</td>
								<td >操作</td>
							</tr>


							<elseif condition="$belong eq 5"/>

							<tr class="info_name">
								<td >客户姓名</td>
								<td >类型</td>
								<td >联系方式</td>
								<td >阿姨姓名</td>
								<td >顾问</td>
								<td >上户时间</td>
								<td >下户时间</td>
								<td >订单金额</td>
								<td >阿姨工资</td>
								<td >操作</td>
							</tr>

							</if>


						<!--<tr>-->
							<!--<td>李翰宇</td>-->
							<!--<td>李翰宇</td>-->
							<!--<td>18382389676</td>-->
							<!--<td>无李翰宇c</td>-->
							<!--<td>2016-7-21 15:50:49</td>-->
							<!--<td>2016-7-21 15:50:49</td>-->
							<!--<td>201</td>-->
							<!--<td>201</td>-->
							<!--<td><a href="orderInfo.html">查看</a><a href="#">删除</a></td>-->
						<!--</tr>-->
						<tr class="last_tr">
							<td colspan="14" class="clear">
								<div class="page" id="pagenum" style="margin:0 auto;width: 80%; text-align: left;display: inline-block;">

								</div>
								<!--<div class="btn_modular">
									<button type="button" class="btnform" onclick="location.href='addOrder.html'">新增订单</button>
								</div>-->
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<script src="__PUBLIC__/js/orderShow.js"></script>

			<!--main end-->
</body>

</html>
