<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

</head>

<body>
			<!--top-->
			<include  file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(8).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle">
					<span class="int_s"></span>添加学员
				</div>
				<form action="__MODULE__/Student/addStudent" method="post" id="form" onsubmit="javascript:return window.confirm('确定保存么？')"  enctype="multipart/form-data">
				<table class="auntTab magrin0 magrintop20">
					<tbody>
						<tr>
							<td class="txt_right">阿姨头像：</td>

							<td colspan="3">
								<input type="file" class="filesbtn" value=""  name="title_img" id="title_img">
							</td>
						</tr>
						<tr>
							<td class="txt_right">学员姓名：</td>
							<td><input type="text" class="form-control" value=""  name="name" id="name"/></td>
							<td class="txt_right">学员年龄：</td>
							<td><input type="number" class="form-control" value=""  name="age" id="age"/></td>
						</tr>
						<tr>
							<td class="txt_right">学员属相：</td>
							<td><input type="text" class="form-control" value=""  name="zodiac" id="zodiac"/></td>
							<td class="txt_right">学员籍贯：</td>
							<td><input type="text" class="form-control" value=""   name="origin" id="origin"/></td>
							
						</tr>
						<tr>
							<td class="txt_right">身份证号：</td>
							<td><input type="text" class="form-control" value="" name="id_card" id="id_card"/></td>
							
							<td class="txt_right">学员电话：</td>
							<td><input type="text" class="form-control" value="" name="phone" id="phone"/></td>
						</tr>
						<tr>
							<td class="txt_right">入学日期：</td>
							<td><input type="text" class="form-control" value="" name="study_time" id="study_time"/></td>
							<td class="txt_right">体检日期：</td>
							<td><input type="text" class="form-control" value="" name="test_time" id="test_time"/></td>
						</tr>
						<tr>
							<td class="txt_right">银行卡信息：</td>
							<td><input type="text" class="form-control" value="" name="bank_card" id="bank_card"/></td>
						</tr>
					</tbody>
				</table>
				<table class="auntTab magrin0">
					<tbody>
						<tr>
							<td class="txt_right">体检情况：</td>
							<td><input type="text" class="form-control" value="" name="test_detail" id="test_detail"/></td>
						</tr>
						<tr>
							<td class="txt_right">家庭情况：</td>
							<td><input type="text" class="form-control" value="" name="family_detail" id="family_detail"/></td>
						</tr>
						<tr>
							<td class="txt_right">行业经验：</td>
							<td><input type="text" class="form-control" value="" name="experience" id="experience"/></td>
						</tr>
						<tr>
							<td class="txt_right">特殊备注：</td>
							<td><input type="text" class="form-control" value="" name="remark" id="remark"/></td>
						</tr>


						<tr>
							<td class="txt_right">身<i></i>份<i></i>证：</td>
							<td>
								<div class="shangchuan">
									<input type="file" class="filesbtn" value="" name="id_card_img[]">&nbsp;<button name="del_img_html" class="del_btn"  type="button">删除</button>
								</div>
								<button class="add_img_html btnform magrin0 add_btn" do="id_card_img" type="button">+&nbsp;新增</button>
							</td>
						</tr>
						<tr>
							<td class="txt_right">证书照片：</td>
							<td>
								<div class="shangchuan">
									<input type="file" class="filesbtn" value="" name="certificate_img[]">&nbsp;<button name="del_img_html" class="del_btn" type="button">删除</button>
								</div>
								<button class="add_img_html btnform magrin0 add_btn" do="certificate_img" type="button">+&nbsp;新增</button>
							</td>
						</tr>

						<tr>
							<td class="txt_right">体检照片：</td>
							<td>
								<div class="shangchuan">
									<input type="file" class="filesbtn" value="" name="test_img[]">&nbsp;<button name="del_img_html" class="del_btn" type="button">删除</button>
								</div>
								<button class="add_img_html btnform magrin0 add_btn" do="test_img" type="button">+&nbsp;新增</button>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="form-group">
					<button type="button" class="default_btn magrin0" id="sub">保存</button>
					<button type="button" class="default_btn" onclick="javascript:history.go(-1);">返回</button>
				</div>
					</form>
			</div> 
			<!--main end-->
			<script>

				var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
				//				reg.test(add_time_b);

				var reg_number = /^[1-9]+[0-9]*]*$/;
				var reg_id_card = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
				$('#sub').live('click',function(){
					if($('#title_img').val() == ''){
						layer.msg('请上传头像！');
						return false;
					}
					if($('#name').val() == ''){
						layer.msg('请输入姓名！');
						return false;
					}
					if(!reg_number.test($('#age').val())){
						layer.msg('请输入正确的年龄！');
						return false;
					}

					if($('#origin').val() == ''||$('#zodiac').val() == ''||$('#test_time').val() == ''||$('#phone').val() == ''||$('#study_time').val() == ''){
						layer.msg('请输入籍贯、属相、体检时间、电话、入学时间！');
						return false;
					}
					if(!reg_id_card.test($('#id_card').val())){
						layer.msg('请输入正确身份证号！');
						return false;
					}

// 					if($('input[name=real_name]').val() == ''){
//						layer.msg('请输入昵称！');
//						return false;
//					}

					$('#form').submit();
				});

				$('button[name=del_img_html]').live('click',function(){
					$(this).parent('.shangchuan').remove();
				});
				$('.add_img_html').live('click',function(){
					var  html = '<div class="shangchuan">\
							<input type="file" class="filesbtn" value="上传" name="'+$(this).attr('do')+'[]">&nbsp;<button name="del_img_html" class="del_btn">删除</button>\
					</div>';
					$(this).before(html);
				});


			</script>
			
</body>

</html>