<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>


</head>

<body>
			<!--top-->
			<include file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(4).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle1">
					学员资料
				</div>
				<div class="tab_tle">
					<span class="int_s"></span>基本详情
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td rowspan="6" width="21%">
								<div class="aunt_img">
									<img src="../img/user_img.jpg" />
								</div>
							</td>
							<td width="26%"><label>编号：</label>TLAY-20160214</td>
							<td width="26%"><label>姓名：</label>李翰宇</td>
							<td width="27%"><label>年龄：</label>25</td>
						</tr>
						<tr>
							<td><label>属相：</label>哈哈</td>
							<td><label>籍贯：</label>湖北襄阳</td>
							<td><label>出生日期：</label>1975-06-01</td>
						</tr>
						<tr>
							<td><label>身高：</label>165cm</td>
							<td><label>体重：</label>65KG</td>
							<td><label>上一份工作：</label>***</td>
						</tr>
						<tr>
							<td><label>班级：</label>育婴师第3期</td>
							<td><label>班主任：</label>廖薇</td>
							<td><label>当前状态：</label>实习中</td>
						</tr>
						<tr>
							<td><label>微信号：</label>lihanyu1002</td>
							<td><label>联系方式：</label>18382389765</td>
							<td><label>身份证：</label>420624195421521252</td>
						</tr>
						<tr>
							<td><label>是否住宿：</label>是</td>
							<td><label>工资银行：</label>农业银行</td>
							<td><label>银行卡号：</label>420624195421521252</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tab_tle" >
					<span class="int_s"></span>学员来历
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="47%"><label>学员来历：</label>渠道</td>
							<td width="53%"><label>招生对接人：</label>曾军</td>
						</tr>
						<tr>
							<td width="47%"><label>报道时间：</label>2016-02-02</td>
							<td width="53%"><label>预估学时：</label>20天</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>家庭资料
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="47%"><label>家庭住址：</label>成都市高新区环球中心E1-18楼</td>
							<td width="53%"><label>现居住地：</label>成都市高新区环球中心E1-18楼</td>
						</tr>
						
						<tr>
							<td colspan="2">
								<table class="tab_info face_tab_2">
									<tbody>
										<tr class="info_name">
											<td width="17%">家庭成员姓名</td>
											<td width="17%">关系</td>
											<td width="17%">职业</td>
											<td width="17%">联系方式</td>
											<td width="32%">现居地</td>
										</tr>
										<tr>
											<td>李翰宇</td>
											<td>2016-07-15</td>
											<td>李翰宇</td>
											<td>18883238989</td>
											<td>成都市高新区环球中心E1-18楼</td>
										</tr>
										
									</tbody>
								</table>
							</td>
						</tr>
						
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>个人信息
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="47%"><label>婚姻情况：</label>已婚已育</td>
							<td width="53%"><label>带孩子：</label>20个</td>
						</tr>
						
						<tr>
							<td colspan="2"><label>个人签名：</label>
								<div class="rtdiv">哈哈哈哈健身房地方就肯定是分看电视就浪费空间的顺口溜分开了的思</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label>曾接受过的职业培训项目：</label>
								<div class="rtdiv">技能1&nbsp;&nbsp;技能2&nbsp;&nbsp;技能3&nbsp;&nbsp;</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label>擅长菜系：</label>
								<div class="rtdiv">川菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label>擅长口味：</label>
								<div class="rtdiv">川菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>个人经历
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td>
								<table class="tab_info face_tab_2">
									<tbody>
										<tr class="info_name">
											<td width="17%">时间</td>
											<td width="17%">单位名称</td>
											<td width="17%">职位</td>
											<td width="17%">薪酬</td>
											<td width="32%">工作内容</td>
										</tr>
										<tr>
											<td>2016-07至2016-07</td>
											<td>环球中心</td>
											<td>月嫂</td>
											<td>5K</td>
											<td>月嫂</td>
										</tr>
										
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				
				
				<div class="tab_tle">
					<span class="int_s"></span>图片资料
				</div>
				<table class="auntTab pictures">
					<tbody>
						<tr>
							<td><label>生活照：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
										<li><img src="../img/user_img.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><label>身份证扫描件：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><label>体检报告：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><label>其他资料：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
										<li><img src="../img/erweima.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<input type="button" class="default_btn m_left_20" onclick="location.href='changeStudentInfo.html'" value="修改"/>
					<input type="button" class="default_btn" onclick="javascript:history.go(-1);" value="返回"/>
				</div>
			</div> 
			<!--main end-->
			<script>
				$('.certificate>li>img').click(function(imgs){
					imgs = $(this).attr('src');
					layer.open({
					  type: 1,
					  title: false,
					  area: ['auto', 'auto'],
					  content: '<img src="'+imgs+'"/>'
					});
				});
			</script>
			
			
</body>

</html>