<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

</head>

<body>
			<!--top-->
			<include file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(4).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="studentControl.html">学员管理</a>
					</li>
					<li>
						 <a href="studentList_1.html">学习中学员</a>
					</li>
					<li>
						 <a href="studentList_2.html">待实习学员</a>
					</li>
					<li>
						 <a href="studentList_3.html">实习中学员</a>
					</li>
					<li>
						 <a href="returnStu.html">回收站</a>
					</li>
				</ul>
				
				<table class="tab_info tab860">
					<tbody>
						<tr class="info_name">
							<td width="8%">来源</td>
							<td width="8%">学习中</td>
							<td width="8%">实习中</td>
							<td width="8%">待实习中</td>
							<td width="8%">等单中</td>
							<td width="8%">上户中</td>
							<td width="8%">合计</td>
						</tr>
						<tr>
							<td>收费生</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<td>渠道生</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tr>
							<td>合计</td>
							<td>2</td>
							<td>2</td>
							<td>2</td>
							<td>2</td>
							<td>2</td>
							<td>2</td>
						</tr>
						<tr class="last_tr">
							<td colspan="7" class="clear">
								<div class="btn_modular">
									<input type="button" class="btnform" onclick="location.href='addStudent.html'" value="新增学员"/>
								</div>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--main end-->
</body>

</html>