<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

</head>

<body>
			<!--top-->
			<include  file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(8).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle">
					<span class="int_s"></span>学员详情
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td rowspan="5" width="160px">
								<div class="aunt_img">
									<img src="__UPLOADS__/{$info.title_img}" />
								</div>
							</td>
							<td class="txt_right">学员姓名：</td>
							<td>{$info.name}</td>
							<td class="txt_right">学员编号：</td>
							<td>{$info.number}</td>
						</tr>
						<tr>
							<td class="txt_right">学员年龄：</td>
							<td>{$info.age}</td>
							<td class="txt_right">学员籍贯：</td>
							<td>{$info.origin}</td>
							
						</tr>
						<tr>
							<td class="txt_right">学员属相：</td>
							<td>{$info.zodiac}</td>
							
							<td class="txt_right">学员电话：</td>
							<td>{$info.phone}</td>
						</tr>
						<tr>
							<td class="txt_right">入学日期：</td>
							<td>{$info.study_time}</td>
							<td class="txt_right">体检日期：</td>
							<td>{$info.test_time}</td>
						</tr>
					</tbody>
				</table>
				<table class="auntTab magrin0">
					<tbody>
						<tr>
							<td class="txt_right">身份证号：</td>
							<td>{$info.id_card}</td>
						</tr>
						<tr>
							<td class="txt_right">银行卡信息：</td>
							<td>{$info.bank_card}</td>
						</tr>
						<tr>
							<td class="txt_right">体检情况：</td>
							<td>{$info.test_detail}</td>
						</tr>
						<tr>
							<td class="txt_right">家庭情况：</td>
							<td>{$info.family_detail}</td>
						</tr>
						<tr>
							<td class="txt_right">行业经验：</td>
							<td>{$info.experience}</td>
						</tr>
						<tr>
							<td class="txt_right">特殊备注：</td>
							<td>{$info.remark}</td>
						</tr>
						
						
						<tr>
							<td class="txt_right">身<i></i>份<i></i>证：</td>
							<td>
								<ul class="certificate clear">
									<volist name="info.id_card_img_arr" id="vo">
										<if condition="$vo neq ''">
											<li><img src="__UPLOADS__/{$vo}"/></li>
										</if>
									</volist>
								</ul>
							</td>
						</tr>
						<tr>
							<td class="txt_right">证书照片：</td>
							<td>
								<ul class="certificate clear">
									<volist name="info.certificate_img_arr" id="vo">
										<if condition="$vo neq ''">
											<li><img src="__UPLOADS__/{$vo}"/></li>
										</if>
									</volist>
								</ul>
							</td>
						</tr>
						
						<tr>
							<td class="txt_right">体检照片：</td>
							<td>
								<ul class="certificate clear">
									<volist name="info.test_img_arr" id="vo">
										<if condition="$vo neq ''">
											<li><img src="__UPLOADS__/{$vo}"/></li>
										</if>
									</volist>
								</ul>
							</td>
						</tr>
						
					</tbody>
				</table>
				
				<div class="form-group">

					<if condition="$nurse_id['id'] neq 0">
						<button type="button" class="default_btn magrin0" onclick="location.href='__MODULE__/Nurse/nurseInfo/id/{$nurse_id.id}.html'" >跳转</button>

						<else />
						<button type="button" class="btnform magrin0 m_left_20" id="change_nurse">转为阿姨</button>
					</if>




					<button type="button" class="default_btn magrin0" onclick="location.href='__MODULE__/Student/changeStudent/id/{$info.id}.html'">修改</button>

					<if condition="$info.status eq 1">
						<button type="button" class="default_btn magrin0" onclick="javascript:if(window.confirm('确定删除么？')){location.href='__MODULE__/Student/deleteStudent/id/{$info.id}.html';}" >删除</button>
						<else />
						<button type="button" class="default_btn magrin0" onclick="javascript:if(window.confirm('确定恢复么？')){location.href='__MODULE__/Student/backStudent/id/{$info.id}.html';}" >恢复</button>
					</if>

					<button type="button" class="default_btn" onclick="javascript:history.go(-1);">返回</button>
				</div>
				
				<div class="tab_tle">
					<span class="int_s"></span>实习记录
				</div>
				
				<table class="tab_info magrintop20" style="max-width: 780px;">
					<tbody>
						<tr class="info_name">
							<td width="8%">实习地点</td>
							<td width="8%">实习开始</td>
							<td width="8%">实习结束</td>
							<td width="8%">上单时长</td>
							<td width="8%">操作</td>
						</tr>
						<volist name="student_practical" id="vo">
							<tr>
								<td>{$vo.practical_address}</td>
								<td>{$vo.true_b_time}</td>
								<td>{$vo.true_s_time}</td>
								<td>{$vo.do_time}</td>
								<td>
									<if condition="$vo.true_s_time eq ''">
										<a class="changePractical"  practical_id="{$vo.id}" true_b_time="{$vo.true_b_time}" practical_address="{$vo.practical_address}" true_s_time="{$vo.true_s_time}" do_time="{$vo.do_time}" student_pay="{$vo.student_pay}" >修改</a>
										<elseif condition="$_SESSION[C('USER_AUTH_KEY')]['permission'] eq 11"/>
										<a class="changePractical"  practical_id="{$vo.id}" true_b_time="{$vo.true_b_time}" practical_address="{$vo.practical_address}" true_s_time="{$vo.true_s_time}" do_time="{$vo.do_time}" student_pay="{$vo.student_pay}" >修改</a>
									</if>
									<if condition="$vo.true_s_time eq ''">
										<a onclick="javascript:if(window.confirm('确定删除么？')){location.href='__MODULE__/Student/delPractical/id/{$vo.id}.html';}">删除</a>
									</if>

								</td>
							</tr>
						</volist>

						<tr class="last_tr">
							<td colspan="14" class="clear">
								<div class="btn_modular">
									<button type="button" class="btnform" id="add_practical">新增记录</button>
								</div>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div> 
			<!--main end-->
			<script>

				var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;

				$(".certificate li img").click(function(){
					var imgs = $(this).attr("src");
					layer.open({
					  type: 1,
					  title: false,
					  area: ['auto', 'auto'],
					  content: '<img src="'+imgs+'" alt=""/>'
					});
				});
//				转为阿姨 弹窗
				$('#change_nurse').live('click',function(){
					var submit = "javascript:return window.confirm('确认转化？')";
					layer.open({
					  	type: 1,
					  	title: '添加阿姨',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/Student/add_to_nurse" method="post" id="form_to_nurse" class="form" onsubmit="'+submit+'"  enctype="multipart/form-data">'
								+	'<div class="opn_div clear">'
								+		'<label>学员种类：</label>'
								+		'<input type="checkbox" name="other1" value="月嫂"/>月嫂&nbsp;'
								+		'<input type="checkbox" name="other2" value="育儿嫂"/>育儿嫂&nbsp;'
								+		'<input type="checkbox" name="other3" value="保姆"/>保姆&nbsp;'
								+		'<input type="checkbox" name="other4" value="钟点工"/>钟点工&nbsp;'
								+       '<input type="hidden" name="student_id" value="{$info.id}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨等级：</label>'
								+		'<select class="form-control" name="level">'
								+		'<option value="1">小田螺1.1</option>'
								+		'<option value="2">小田螺1.2</option>'
								+		'<option value="3">小田螺1.3</option>'
								+		'<option value="4">小田螺1.4</option>'
								+		'<option value="5">小田螺1.5</option>'
								+		'<option value="6">大田螺1.1</option>'
								+		'<option value="7">大田螺1.2</option>'
								+		'<option value="8">大田螺1.3</option>'
								+		'<option value="9">大田螺1.4</option>'
								+		'<option value="10">大田螺1.5</option>'
								+		'<option value="11">超级田螺1.1</option>'
								+		'<option value="12">超级田螺1.2</option>'
								+		'<option value="13">超级田螺1.3</option>'
								+		'<option value="14">超级田螺1.4</option>'
								+		'<option value="15">超级田螺1.5</option>'
								+		'<option value="16">金牌田螺</option>'
								+ 		'</select>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨技能：</label><span class="spa_cek"><input type="checkbox" name="skill1" value="技能1"/>技能1</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill2"  value="技能2"/>技能2</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill3"  value="技能3"/>技能3</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill4"  value="技能4"/>技能4</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill5"  value="技能5"/>技能5</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill6"  value="技能6"/>技能6</span><br/>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill7"  value="技能7"/>技能7</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill8"  value="技能8"/>技能8</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill9"  value="技能9"/>技能9</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill10"  value="技能10"/>技能10</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill11"  value="技能11"/>技能11</span>'
								+		'<span class="spa_cek"><input type="checkbox" name="skill12"  value="技能12"/>技能12</span>'
								+	'</div>'
								+	'<div class="btn_div clear">'
								+		'<button type="button" class="default_btn" id="sub_to_nurse">添加</button>'
								+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
								+	'</div>'
								+	'</form>'
								+'</div>'
					});
				});

				$('#sub_to_nurse').live('click',function(){
					if($('input[name=other1]').is(':checked')==false && $('input[name=other2]').is(':checked')==false && $('input[name=other3]').is(':checked')==false &&$('input[name=other4]').is(':checked')==false ){
						layer.msg('请选择阿姨类型！');
						return false;
					}

					$('#form_to_nurse').submit();
				});




//				修改实习记录 弹窗
				$('.changePractical').live('click',function(){
					var submit = "javascript:return window.confirm('确认修改？')";
					layer.open({
						type: 1,
						title: '新增实习',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/Student/change_practical" method="post" id="form_change_practical" class="form" onsubmit="'+submit+'"  enctype="multipart/form-data">'
						+	'<div class="opn_div clear">'
						+		'<label>实习地点：'+$(this).attr('practical_address')+'</label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>开始日期：</label><input type="text" class="form-control" value="'+$(this).attr('true_b_time')+'" name="true_b_time" id="true_b_time" placeholder="2016-01-01"/><input type="hidden" name="practical_id" value="'+$(this).attr('practical_id')+'"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>结束日期：</label><input type="text" class="form-control" value="'+$(this).attr('true_s_time')+'" name="true_s_time" id="true_s_time" placeholder="2016-01-01"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>上单时长：</label><input type="number" class="form-control" value="'+$(this).attr('do_time')+'" name="do_time" id="do_time" />'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨工资：</label><input type="text" class="form-control" value="'+$(this).attr('student_pay')+'" name="student_pay" id="student_pay"/>'
						+	'</div>'
						+	'<div class="btn_div clear">'
						+		'<button type="button" class="default_btn" id="sub_change_practical">添加</button>'
						+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
						+	'</div>'
						+	'</form>'
						+'</div>'
					});
				});
				$('#sub_change_practical').live('click',function(){
					if(!reg.test($('#true_b_time').val()) || $('#true_b_time').val()=='') {
						layer.msg('请填写正确的开始日期！');
						return false;
					}

					if(!reg.test($('#true_s_time').val()) || $('#true_s_time').val()=='') {
						layer.msg('请填写正确的结束日期！');
						return false;
					}
					if($('#do_time').val()=='') {
						layer.msg('请填写上单时长！');
						return false;
					}
					if($('#student_pay').val()=='') {
						layer.msg('请填写阿姨工资！');
						return false;
					}
					$('#form_change_practical').submit();
				});

				//计算工资
				$('#do_time').live('change',function(){
					var do_time = $(this).val();
					$.AjaxPost(MODULE+"/Student/getStudentPay", {do_time:do_time}, function (backdata) {
						if (backdata.code == 1001) {
							layer.msg('参数错误！');
						}else if (backdata.code == 1000) {
							$('#student_pay').val(backdata.price);
						}
					});
				});



//				新增实习记录 弹窗
				$('#add_practical').live('click',function(){
					var submit = "javascript:return window.confirm('确认新增？')";
					layer.open({
					  	type: 1,
					  	title: '新增实习',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/Student/add_practical" method="post" id="form_practical" class="form" onsubmit="'+submit+'"  enctype="multipart/form-data">'
								+	'<div class="opn_div clear">'
								+		'<label>实习地点：</label>'
								+		'<select class="form-control" name="practical_address">'
								+     		'<option>安琪儿1</option>'
								+     		'<option>安琪儿2</option>'
								+     		'<option>安琪儿3</option>'
								+     		'<option>安琪儿4</option>'
								+ 		'</select>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>开始日期：</label><input type="text" class="form-control" value="" name="true_b_time" id="true_b_time" placeholder="2016-01-01"/><input type="hidden" name="student_id" value="{$info.id}"/>'
								+	'</div>'
								+	'<div class="btn_div clear">'
								+		'<button type="button" class="default_btn" id="sub_practical">添加</button>'
								+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
								+	'</div>'
								+	'</form>'
								+'</div>'
					});
				});
				$('#sub_practical').live('click',function(){
					if(!reg.test($('#true_b_time').val()) || $('#true_b_time').val()=='') {
						layer.msg('请填写正确的开始日期！');
						return false;
					}

					$('#form_practical').submit();
				});


				function close_lay(){
					layer.closeAll();
				}	
			</script>
			
</body>

</html>