<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>


</head>

<body>
			<!--top-->
			<include file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(1).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle1">
					客服派单详细信息
				</div>
				<div class="tab_tle" >
					<span class="int_s"></span>订单信息
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="33%"><label>需求编号：</label>{$info.number}</td>
							<td width="33%"><label>派发人：</label>{$info.add_employee}</td>
							<td width="33%"><label>派发对象：</label>{$info.sales_name}</td>
						</tr>
						<tr>
							<td><label>派发时间：</label>{$info.status_1_str}</td>
							<td><label>接单时间：</label>{$info.status_2_str}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<div class="tab_tle" >
					<span class="int_s"></span>客户需求
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="33%"><label>客户称谓：</label>{$info.name}</td>
							<td width="33%"><label>客户需求：</label>{$info.product}</td>
							<td width="33%"><label>客户来源：</label>{$info.source}</td>
						</tr>
						<tr>
							<td><label>手机：</label>{$info.phone}</td>
							<td><label>微信：</label>{$info.wchat}</td>
							<td></td>
						</tr>
						<tr>
							<td><label>价格：</label>{$info.product_price}</td>
							<td><label>服务时间：</label>{$info.b_time}</td>
							<td><label>服务地点：</label>{$info.service_place}</td>
						</tr>
						<tr>
							<td colspan="3"><label>备注：</label>
								<div class="rtdiv">
									{$info.remark}
								</div>
							</td>
						</tr>
						<if condition="$info.price_add eq 1">
							<tr>
								<td><label>阿姨加价：</label>{$info.add_nurse_price}</td>
								<td><label>订单加价：</label>{$info.add_order_price}</td>
							</tr>
							<tr>
								<td><label>加价原因：</label>{$info.add_reason}</td>
							</tr>
						</if>
					</tbody>
				</table>
				<div class="form-group">
					<input type="button" class="btnform m_left_20 magrin0" onclick="location.href='__MODULE__/TakeNeed/overOrder/id/{$info.id}.html'" value="完善订单"/>
					<input type="button" class="default_btn" onclick="javascript:history.go(-1);" value="取消"/>
					<input type="button" class="default_btn"  value="打回" id="back" order_id="{$info.id}"/>
				</div>
			</div> 
			<!--main end-->
			<script>
				//				打回
				$('#back').live('click',function(){
					var sub_str = "javascript:return window.confirm('确定打回？')";
					var order_id = $(this).attr('order_id');
					layer.open({
						type: 1,
						title: '是否打回？',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/TakeNeed/backNeed" method="post" id="form_del" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
						+	'<div class="opn_div clear">'
						+		'<input type="text" class="form-control" value="" placeholder="请输入打回原因" name="back_reason" id="back_reason"/>'
						+		'<input type="hidden" name="order_id" value="'+order_id+'" />'
						+	'</div>'
						+	'<div class="btn_div clear">'
						+		'<button type="button" class="default_btn" id="sub_del">确认</button>'
						+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
						+	'</div>'
						+	'</form>'
						+'</div>'
					});
				});

				$('#sub_del').live('click',function(){
					if($('#back_reason').val() == ''){
						layer.msg('请输入原因！');
						return false;
					}
					$('#form_del').submit();
				});

				function close_lay(){
					layer.closeAll();
				}
			</script>
			
			
</body>

</html>