<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>



</head>

<body>
			<!--top-->
			<include file="Nav/header"/>
			<script type="text/javascript" src="__PUBLIC__/js/toggle.js" ></script>
			<!--left end-->
			<script>
				$('.left_menu li').eq(2).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle1">
					订单详情<span class="font-red">（已匹配，待面试）</span>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>订单信息
					</div>
					<table class="auntTab">
						<tbody>
							<tr>
								<td width="33%"><label>需求编号：</label>XQ-00001</td>
								<td width="33%"><label>派发人：</label>谢珍</td>
								<td width="33%"><label>派发对象：</label>刘燃</td>
							</tr>
							<tr>
								<td><label>派发时间：</label>2016-11-22 13:25:11</td>
								<td><label>接单时间：</label>2016-11-22 13:25:37</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>客户需求
					</div>
					<table class="auntTab">
						<tbody>
							<tr>
								<td width="33%"><label>客户称谓：</label>李先生</td>
								<td width="33%"><label>客户需求：</label>月嫂</td>
								<td width="33%"><label>客户来源：</label>官网竞价</td>
							</tr>
							<tr>
								<td><label>手机：</label>18382389676</td>
								<td><label>微信：</label>lihanyu1002</td>
								<td></td>
							</tr>
							<tr>
								<td><label>价格：</label>5880元</td>
								<td><label>服务时间：</label>2016-06-05</td>
								<td><label>服务地点：</label>高新区环球中心</td>
							</tr>
							<tr>
								<td colspan="3"><label>价格：</label>
									<div class="rtdiv">
										这是一个备注。。。打开手机弗兰克是点击发了速度
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>家庭情况<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none; overflow: hidden;">
						<tbody>
							<tr>
								<td width="33%"><label>客户姓名：</label>王尧</td>
								<td width="33%"><label>主要联系方式：</label>18382389676</td>
								<td width="33%"><label>紧急联系人：</label>15821545312</td>
							</tr>
							<tr>
								<td><label>需要服务时间：</label>2016-11-22</td>
								<td><label>服务周期：</label>40天</td>
								<td><label>家庭人数：</label>1人</td>
							</tr>
							<tr>
								<td><label>小孩：</label>1人</td>
								<td><label>老人：</label>1人</td>
								<td><label>成人：</label>1人</td>
							</tr>
							<tr>
								<td colspan="3"><label>家庭成员情况：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>家庭住址：</label>
									<div class="rtdiv">
										成都市高新区环球中心E2-18楼
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>周边环境：</label>
									<div class="rtdiv">
										asdfasdf
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>工作内容<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none;">
						<tbody>
							<tr>
								<td width="33%"><label>阿姨年龄要求：</label>50岁</td>
								<td width="33%"><label>生肖要求：</label>猪</td>
								<td width="33%"><label>形象要求：</label>边框就不打算教科书的积分换</td>
							</tr>
							
							<tr>
								<td colspan="3"><label>技能要求：</label>
									<div class="rtdiv">
										<span class="marks"><input type="checkbox" checked="checked" readonly="readonly">新生儿生活护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">新生儿健康护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">新生儿疾病预防</span>
										<span class="marks"><input type="checkbox" readonly="readonly">新生儿早期促进</span><br>
										<span class="marks"><input type="checkbox" checked="checked" readonly="readonly">产妇专业护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">产妇生活护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">产妇心理预防</span>
										<span class="marks"><input type="checkbox" checked="checked" readonly="readonly">产妇疾病预防</span><br>
										<span class="marks"><input type="checkbox" readonly="readonly">产妇产后恢复</span>
										<span class="marks"><input type="checkbox" readonly="readonly">产妇乳房护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">产妇饮食护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">早期智力开发、启蒙训练</span><br>
										<span class="marks"><input type="checkbox" readonly="readonly">小儿推拿</span>
										<span class="marks"><input type="checkbox" readonly="readonly">幼儿辅食添加</span>
										<span class="marks"><input type="checkbox" readonly="readonly">早产、疾病儿护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">产妇疾病预防</span><br>
										<span class="marks"><input type="checkbox" readonly="readonly">高龄产妇护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">新生儿意外伤害的预防和护理</span>
										<span class="marks"><input type="checkbox" readonly="readonly">厨艺</span>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>性格要求：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>主要工作内容：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>次要工作内容：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>风俗及禁忌：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>家庭对接人<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none;">
						<tbody>
							<tr>
								<td colspan="3"><label>长期在家人：</label>卡死</td>
							</tr>
							<tr>
								<td width="34%"><label>主要对接人：</label>卡死</td>
								<td width="66%"><label>次要对接人：</label>卡死</td>
							</tr>
							<tr>
								<td colspan="3"><label>对接人性格：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>顾问判定<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none;">
						<tbody>
							<tr>
								<td width="33%"><label>阿姨建议：</label>卡死</td>
								<td width="67%"><label>工作性质：</label>
									<input type="radio" name="xingzhi" checked="checked" readonly="readonly">月嫂&nbsp;&nbsp;
									<input type="radio" name="xingzhi" readonly="readonly">育儿嫂&nbsp;&nbsp;
								</td>
							</tr>
							<tr>
							<td><label>阿姨价位：</label>5880</td>
							<td></td>
						</tr>
						<tr>
							<td><label>服务周期：</label>28天</td>
							<td><label>假期：</label>2天</td>
						</tr>
						<tr>
							<td><label>预计上户时间：</label>xx</td>
							<td><label>预计下户时间：</label>xx</td>
						</tr>
						<tr>
							<td><label>特殊情况：</label>有</td>
							<td><label>加价原因：</label>双胞胎</td>
						</tr>
						<tr>
							<td><label>订单加价：</label>1000元</td>
							<td><label>阿姨薪资加价：</label>700元</td>
						</tr>
							<tr>
								<td colspan="2"><label>其他建议：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2"><label>备注：</label>
									<div class="rtdiv">
										卡死了都减肥了可视对讲分开圣诞节放假了看电视剧发打开肯定是附件地方上的发送到
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>匹配列表
					</div>
					<ul class="pipei clear">
						<li>
							<a href="lookAuntInfo.html"><img src="../../img/user_img.jpg" /></a>
							<p><input type="radio" name="aunt" value="小宇菜"/>小宇菜</p>
							<input type="button" class="del_aunt" value="X" />
						</li>
						<li>
							<a href="lookAuntInfo.html"><img src="../../img/user_img.jpg" /></a>
							<p><input type="radio" name="aunt" value="黄伟"/>黄伟</p>
							<input type="button" class="del_aunt" value="X" />
						</li>
						<li>
							<a class="addpipei"><img src="../../img/addpipei.png" /></a>
						</li>
					</ul>
				</div>
				
				<div class="form-group">
					<input type="button" class="btnform magrin0 again" value="重新匹配">
					<input type="button" class="btnform magrin0 finish" value="完成合同">
					<input type="button" class="default_btn" onclick="javascript:history.go(-1);" value="取消">
				</div>
			</div> 
			<!--main end-->
			<script>
				$('.addpipei').live('click',function(){
					
					
					$(this).parent('li').before('<li>'
							+'<a href="lookAuntInfo.html"><img src="../../img/user_img.jpg" /></a>'
							+'<p><input type="radio" name="aunt" value="黄伟"/>黄伟</p>'
							+'<input type="button" class="del_aunt" value="X" />'
						+'</li>');
				});
			
			
				$('.del_aunt').live('click',function(){
					$(this).parent('li').remove();
				});
				$('.again').live('click',function(){
					layer.confirm('确认所有阿姨都不适合上户吗？', {
					  btn: ['是的','再努力下'] //按钮
					}, function(){
					   	alert(true);
					}, function(){
					});
				});
				$('.finish').live('click',function(){
					var aunt = $('input:radio[name=aunt]:checked').val();
					if(aunt==null){
		                layer.msg('请选中一个，才能完成订单');
		                return false;
		            }else{
						layer.confirm('确认使用'+aunt+'上户吗？', {
						  btn: ['确认','点错了'] //按钮
						}, function(){
							layer.closeAll();
						   	finish();
						}, function(){
							
						});	
		            }

				});
//					完成合同签约 弹窗
					function finish(){
						layer.open({
						  	type: 1,
						  	title: '完成合同签约',
							area: ['auto', 'auto'], //宽高
							content: '<div class="lay_cnt">'
									+   '<form>'
									+	'<div class="opn_div clear">'
									+		'<label>合同编号：</label><input type="text" class="form-control" value="" readonly="readonly"/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>合同金额：</label><input type="text" class="form-control" value=""/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>已收金额：</label><input type="text" class="form-control" value=""/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>阿姨编号：</label><input type="text" class="form-control" value="" readonly="readonly"/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="" readonly="readonly"/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>保险状态：已购买</label>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>保险到期时间：2017-12-1</label>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>保险状态：未购买</label>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>保险购买日期：</label>'
									+       '<select class="form-control w212">'
									+          	'<option>上户当日购买</option>'
									+          	'<option>不购买</option>'
									+       '</select>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>服务周期：</label><input type="text" class="form-control" value=""/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>预计上户：</label><input type="text" class="form-control" value=""/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>预计下户：</label><input type="text" class="form-control" value=""/>'
									+	'</div>'
									+	'<div class="btn_div clear">'
									+		'<button type="submit" class="default_btn">完成</button>'
									+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
									+	'</div>'
									+	'</form>'
									+'</div>'
						});
					}
					function close_lay(){
						layer.closeAll();
					}
			</script>
</body>

</html>