<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>



</head>

<body>
			<!--top-->
			<include file="Nav/header"/>
			<script type="text/javascript" src="__PUBLIC__/js/toggle.js" ></script>
			<!--left end-->
			<script>
				$('.left_menu li').eq(2).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle1">
					订单详情<span class="font-red">（{$status_name[$info['status']]}）</span>

					<if condition="$info.is_service eq 1"><span class="font-red">|售后|</span></if>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>订单信息
					</div>
					<table class="auntTab">
						<tbody>
							<tr>
								<td width="33%"><label>需求编号：</label>{$info.number}</td>
								<td width="33%"><label>派发人：</label>{$info.add_employee}</td>
								<td width="33%"><label>派发对象：</label>{$info.sales_name}</td>
							</tr>
							<tr>
								<td><label>派发时间：</label>{$info.status_1_str}</td>
								<td><label>接单时间：</label>{$info.status_2_str}</td>
								<td></td>
							</tr>
							<tr>
								<td><label>上户日期：</label><if condition="$info.status lt 7">{$info.b_time}(预)<elseif condition="$info.status egt 7"/>{$info.true_b_time}</if></td>
								<td><label>下户日期：</label><if condition="in_array($info['status'],array(3,4,5,6,7))">{$info.s_time}(预)<elseif condition="$info.status egt 8"/>{$info.true_s_time}</if></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>客户需求
					</div>
					<table class="auntTab">
						<tbody>
							<tr>
								<td width="33%"><label>客户称谓：</label>{$info.name}</td>
								<td width="33%"><label>客户需求：</label>{$info.product}</td>
								<td width="33%"><label>客户来源：</label>{$info.source}</td>
							</tr>
							<tr>
								<td><label>手机：</label>{$info.phone}</td>
								<td><label>微信：</label>{$info.wchat}</td>
								<td></td>
							</tr>
							<tr>
								<td><label>价格：</label>{$info.product_price}</td>
								<td><label>服务时间：</label>{$info.b_time}</td>
								<td><label>服务地点：</label>{$info.service_place}</td>
							</tr>
							<tr>
								<td colspan="3"><label>备注：</label>
									<div class="rtdiv">
										{$info.remark}
									</div>
								</td>
							</tr>
							<if condition="$info.price_add eq 1">
								<tr>
									<td><label>阿姨加价：</label>{$info.add_nurse_price}</td>
									<td><label>订单加价：</label>{$info.add_order_price}</td>
								</tr>
								<tr>
									<td><label>加价原因：</label>{$info.add_reason}</td>
								</tr>
							</if>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>家庭情况<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none; overflow: hidden;">
						<tbody>
							<tr>
								<td width="33%"><label>客户姓名：</label>{$info.name}</td>
								<td width="33%"><label>主要联系方式：</label>{$info.phone}</td>
								<td width="33%"><label>紧急联系人：</label>{$info.urgent_phone}</td>
							</tr>
							<tr>
								<td><label>需要服务时间：</label>{$info.b_time}</td>
								<td><label>服务周期：</label>{$info.service_day}天</td>
								<td><label>家庭人数：</label>{$info.family_num}人</td>
							</tr>
							<tr>
								<td><label>小孩：</label>{$info.baby_num}人</td>
								<td><label>老人：</label>{$info.old_num}人</td>
								<td><label>成人：</label>{$info.adult_num}人</td>
							</tr>
							<tr>
								<td colspan="3"><label>家庭成员情况：</label>
									<div class="rtdiv">
										{$info.family_situation}
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>家庭住址：</label>
									<div class="rtdiv">
										{$info.family_address}
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>周边环境：</label>
									<div class="rtdiv">
										{$info.environment}
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>工作内容<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none;">
						<tbody>
							<tr>
								<td width="33%"><label>阿姨年龄要求：</label>{$info.nurse_age}</td>
								<td width="33%"><label>生肖要求：</label>{$info.nurse_zodiac}</td>
								<td width="33%"><label>形象要求：</label>{$info.nurse_show}</td>
							</tr>
							
							<tr>
								<td colspan="3"><label>技能要求：</label>
									<div class="rtdiv">
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills1"  <if condition="$info['skill_a'][0] eq 1">checked</if>>新生儿生活护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills2"  <if condition="$info['skill_a'][1] eq 1">checked</if>>新生儿健康护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills3"  <if condition="$info['skill_a'][2] eq 1">checked</if>>新生儿疾病预防</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills4"  <if condition="$info['skill_a'][3] eq 1">checked</if>>新生儿早期促进</span><br>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills5"  <if condition="$info['skill_a'][4] eq 1">checked</if>>产妇专业护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills6"  <if condition="$info['skill_a'][5] eq 1">checked</if>>产妇生活护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills7"  <if condition="$info['skill_a'][6] eq 1">checked</if>>产妇心理预防</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills8"  <if condition="$info['skill_a'][7] eq 1">checked</if>>产妇疾病预防</span><br>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills9"  <if condition="$info['skill_a'][8] eq 1">checked</if>>产妇产后恢复</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills10"  <if condition="$info['skill_a'][9] eq 1">checked</if>>产妇乳房护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills11"  <if condition="$info['skill_a'][10] eq 1">checked</if>>产妇饮食护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills12"  <if condition="$info['skill_a'][11] eq 1">checked</if>>早期智力开发、启蒙训练</span><br>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills13"  <if condition="$info['skill_a'][12] eq 1">checked</if>>小儿推拿</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills14"  <if condition="$info['skill_a'][13] eq 1">checked</if>>幼儿辅食添加</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills15"  <if condition="$info['skill_a'][14] eq 1">checked</if>>早产、疾病儿护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills16"  <if condition="$info['skill_a'][15] eq 1">checked</if>>产妇疾病预防</span><br>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills17"  <if condition="$info['skill_a'][16] eq 1">checked</if>>高龄产妇护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills18"  <if condition="$info['skill_a'][17] eq 1">checked</if>>新生儿意外伤害的预防和护理</span>
										<span class="marks"><input type="checkbox" disabled="disabled"  name="skills19"  <if condition="$info['skill_a'][18] eq 1">checked</if>>厨艺</span>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>性格要求：</label>
									<div class="rtdiv">
										{$info.character}
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>主要工作内容：</label>
									<div class="rtdiv">
										{$info.work_first}
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>次要工作内容：</label>
									<div class="rtdiv">
										{$info.work_second}
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="3"><label>风俗及禁忌：</label>
									<div class="rtdiv">
										{$info.custom_taboo}
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>家庭对接人<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none;">
						<tbody>
							<tr>
								<td colspan="3"><label>长期在家人：</label>{$info.long_family}</td>
							</tr>
							<tr>
								<td width="34%"><label>主要对接人：</label>{$info.first_pick}</td>
								<td width="66%"><label>次要对接人：</label>{$info.second_pick}</td>
							</tr>
							<tr>
								<td colspan="3"><label>对接人性格：</label>
									<div class="rtdiv">
										{$info.pick_character}
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>顾问判定<span class="togbtn">展开∨</span>
					</div>
					<table class="auntTab" style="display: none;">
						<tbody>
							<tr>
								<td width="33%"><label>阿姨建议：</label>{$info.number}</td>
								<td width="67%"><label>工作性质：</label>
									{$info.work_type}
								</td>
							</tr>
							<tr>
							<td><label>阿姨价位：</label>{$info.nurse_price}</td>
								<td><label>服务周期：</label>{$info.service_day}天</td>
						</tr>
						<!--<tr>-->
							<!--<td><label>服务周期：</label>{$info.service_day}天</td>-->
							<!--<td><label>假期：</label>{$info.holiday}天</td>-->
						<!--</tr>-->
						<tr>
							<td><label>预计上户时间：</label>{$info.b_time}</td>
							<td><label>预计下户时间：</label>{$info.s_time}</td>
						</tr>
						<!--<tr>-->
							<!--<td><label>特殊情况：</label>{$info.price_add_str}</td>-->
							<!--<td><label>加价原因：</label>{$info.add_reason}</td>-->
						<!--</tr>-->
						<!--<tr>-->
							<!--<td><label>订单加价：</label>{$info.add_order_price}元</td>-->
							<!--<td><label>阿姨薪资加价：</label>{$info.add_nurse_price}元</td>-->
						<!--</tr>-->
							<tr>
								<td colspan="2"><label>其他建议：</label>
									<div class="rtdiv">
										{$info.advise}
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2"><label>备注：</label>
									<div class="rtdiv">
										{$info.nurse_remark}
									</div>
								</td>
							</tr>
							<input type="hidden" id="order_id" value="{$info.id}"/>

						</tbody>
					</table>
				</div>

				<if condition="$is_service[0]['id'] neq ''">
					<div class="page">
						<div class="tab_tle">
							<span class="int_s"></span>售后阿姨
						</div>
						<ul class="pipei clear">
							<volist name="is_service" id="vo">
								<li >
									<a href="__MODULE__/Nurse/nurseInfo/id/{$vo.id}.html"><img src="__UPLOADS__{$vo.title_img}" /></a>
									<p>{$vo.nurse_name}</p>
								</li>
							</volist>
						</ul>
					</div>
				</if>


				<if condition="$info.status eq 5">

				<div class="page">
					<div class="tab_tle">
						<span class="int_s"></span>匹配列表
					</div>
					<ul class="pipei clear">
						<volist name="order_nurse" id="vo" k="key">
							<li nurse_id="{$vo.id}">
								<a href="__MODULE__/Nurse/nurseInfo/id/{$vo.id}.html"><img src="__UPLOADS__{$vo.title_img}" /></a>
								<p><input type="radio" name="nurse_id" value="{$vo.id}" nurse_name="{$vo.nurse_name}" nurse_number="{$vo.nurse_number}" <if condition="$key eq 0">checked</if>/>{$vo.nurse_name} </p>

								<input type="button" class="del_aunt" value="X" do="del_nurse" nurse_id="{$vo.id}"/>
							</li>
						</volist>
					</ul>
				</div>


					<elseif condition="$info.status egt 6 OR $info.status lt 22"/>
					<div class="page">
						<div class="tab_tle">
							<span class="int_s"></span>匹配列表
						</div>
						<ul class="pipei clear">
							<volist name="order_nurse" id="vo" k="key">
								<li nurse_id="{$vo.id}">
									<a href="__MODULE__/Nurse/nurseInfo/id/{$vo.id}.html"><img src="__UPLOADS__{$vo.title_img}" /></a>
									<p>{$vo.nurse_name} </p>
									<input type="hidden" name="nurse_id" value="{$vo.id}" nurse_name="{$vo.nurse_name}" nurse_number="{$vo.nurse_number}" />
								</li>
							</volist>
						</ul>
					</div>
				</if>

				<div class="form-group">
					<if condition="$info.status eq 3">
						<input type="button" class="default_btn m_left_20 magrin0" onclick="location.href='__MODULE__/TakeNeed/status_4/id/{$info.id}.html'" value="发单">
					<elseif condition="$info.status eq 4"/>
						待匹配
					</if>

					<if condition="$info.status eq 5">
						<input type="button" class="btnform magrin0 again" value="重新匹配" id="status_4">
						<input type="button" class="btnform magrin0 finish" value="完成合同" id="status_6">
					</if>

					<if condition="$info.status eq 6">
						<input type="button" class="btnform magrin0 finish" value="上户" id="status_7">
					</if>
					<if condition="$info.status eq 7">
						<input type="button" class="btnform magrin0 finish" value="下户" id="status_8">
						<input type="button" class="btnform magrin0 finish" value="售后" id="status_back_4">
					</if>

					<if condition="($info.status egt 3 and $info.status lt 6) OR $_SESSION[C('USER_AUTH_KEY')]['permission'] eq 24">
						<input type="button" class="default_btn" onclick="location.href='__MODULE__/TakeNeed/overOrder/id/{$info.id}'" value="修改">
					</if>
					<input type="button" class="default_btn" onclick="javascript:history.go(-1);" value="取消">
				</div>
			</div>

			<script>
				$('.del_aunt').live('click',function(){
					var nurse_id = $(this).attr('nurse_id');
					var order_id = $('#order_id').val();
					var this_li = $(this).parent('li');
					$.ajax({
						type:'POST', url:MODULE+'/TakeNeed/del_nurse.html', dataType:'json', data:{nurse_id:nurse_id,order_id:order_id},
						success:function(code){
							if(code==1){
								layer.msg('成功');
								this_li.remove();}else{
								layer.msg('异常，请重试');
							}}});
				});

				$('#status_4').live('click',function(){
					layer.confirm('确认所有阿姨都不适合上户吗？', {
						btn: ['是的','再努力下'] //按钮
					}, function(){

						window.location.href=MODULE+"/TakeNeed/status_re_4/id/"+$('#order_id').val()+".html";

					}, function(){
					});
				});
				$('#status_6').live('click',function(){
					var aunt = $('input:radio[name=nurse_id]:checked').attr('nurse_name');
					var nurse_number = $('input:radio[name=nurse_id]:checked').attr('nurse_number');
					var nurse_id = $('input:radio[name=nurse_id]:checked').val();
					if(aunt==null){
						layer.msg('请选中一个，才能完成订单');
						return false;
					}else{
						layer.confirm('确认使用'+aunt+'签约吗？', {
							btn: ['确认','点错了'] //按钮
						}, function(){
							layer.closeAll();
							var sub_str = "javascript:return window.confirm('确认签订？')";
							layer.open({
								type: 1,
								title: '完成合同签约',
								area: ['auto', 'auto'], //宽高
								content: '<div class="lay_cnt">'
								+   '<form action="__MODULE__/TakeNeed/status_6" method="post" id="form_status_6" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
								+	'<div class="opn_div clear">'
								+		'<label>合同编号：</label><input type="text" name="pact_number" id="pact_number" class="form-control" value="" />'
								+         '<input type="hidden" name="order_id" class="form-control" value="{$info.id}" />'
								+         '<input type="hidden" name="nurse_id" class="form-control" value="'+nurse_id+'" />'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>合同金额：</label><input type="text" name="price_come" class="form-control" value="{$info.product_price}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>已收金额：</label><input type="text" name="price_come_true" class="form-control" value="{$info.price_come_true}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨编号：</label><input type="text" class="form-control" value="'+nurse_number+'" readonly="readonly"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="'+aunt+'" readonly="readonly"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>是否加价：</label><input type="radio" name="price_add" value="1" <if condition="$info.price_add eq 1">checked</if>/>有&nbsp;&nbsp;'
								+		'<input type="radio" name="price_add" value="0"  <if condition="$info.price_add eq 0">checked</if>/>无&nbsp;&nbsp;'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_reason" <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>加价原因：</label><input type="text" name="add_reason" class="form-control" value="{$info.add_reason}"/>'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_nurse_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>阿姨加价：</label><input type="text" name="add_nurse_price" class="form-control" value="{$info.add_nurse_price}"/>'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_order_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>客户加价：</label><input type="text" name="add_order_price" class="form-control" value="{$info.add_order_price}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>服务周期：</label><input type="number" name="service_day" id="service_day" class="form-control" style="width: 77%;" value="{$info.service_day}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>预计上户：</label><input type="text" name="b_time" id="b_time" class="form-control" value="{$info.b_time}"/>'
								+	'</div>'
								+	'<div class="btn_div clear">'
								+		'<button type="button" class="default_btn" id="sub_status_6">完成</button>'
								+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
								+	'</div>'
								+	'</form>'
								+'</div>'
							});
						}, function(){

						});
					}

				});

				$('#sub_status_6').live('click',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;

					if($('#pact_number').val() == ''){
						layer.msg('请输入合同编号！');
						return false;
					}
					if($('#service_day').val() == ''){
						layer.msg('请输入服务周期！');
						return false;
					}
					if(!reg.test($('#b_time').val())){
						layer.msg('请输入正确的预计上户时间！');
						return false;
					}
					$('#form_status_6').submit();
				});

				$('input[name=price_add]').live('click',function(){
					var price_add = $('input[name=price_add]:checked').val();
					if(price_add==1){
						$('#add_reason').show();
						$('#add_nurse_price').show();
						$('#add_order_price').show();
					}else{
						$('#add_reason').hide();
						$('#add_nurse_price').hide();
						$('#add_order_price').hide();
					}

				});


				//上户

				$('#status_7').live('click',function(){
					var aunt = $('input[name=nurse_id]').attr('nurse_name');
					var nurse_number = $('input[name=nurse_id]').attr('nurse_number');
					var nurse_id = $('input[name=nurse_id]').val();
						layer.confirm('确认上户操作吗？', {
							btn: ['确认','点错了'] //按钮
						}, function(){
							layer.closeAll();
							var sub_str = "javascript:return window.confirm('确认上户？')";
							layer.open({
								type: 1,
								title: '上户',
								area: ['auto', 'auto'], //宽高
								content: '<div class="lay_cnt">'
								+   '<form action="__MODULE__/TakeNeed/status_7" method="post" id="form_status_7" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
								+	'<div class="opn_div clear">'
								+		'<label>合同编号：</label><input type="text" name="pact_number" id="pact_number" class="form-control" value="{$info.pact_number}" />'
								+         '<input type="hidden" name="order_id" class="form-control" value="{$info.id}" />'
								+         '<input type="hidden" name="nurse_id" class="form-control" value="'+nurse_id+'" />'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>合同金额：</label><input type="text" name="" class="form-control" value="{$info.product_price}" readonly/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>已收金额：</label><input type="text" name="" class="form-control" value="{$info.price_come_true}" readonly/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨编号：</label><input type="text" class="form-control" value="'+nurse_number+'" readonly="readonly"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="'+aunt+'" readonly="readonly"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>保险购买：</label><input type="text" name="time" class="form-control" id="time" placeholder="2016-01-01"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>是否加价：</label><input type="radio" name="price_add" value="1" <if condition="$info.price_add eq 1">checked</if>/>有&nbsp;&nbsp;'
								+		'<input type="radio" name="price_add" value="0"  <if condition="$info.price_add eq 0">checked</if>/>无&nbsp;&nbsp;'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_reason" <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>加价原因：</label><input type="text" name="add_reason" class="form-control" value="{$info.add_reason}"/>'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_nurse_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>阿姨加价：</label><input type="text" name="add_nurse_price" class="form-control" value="{$info.add_nurse_price}"/>'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_order_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>客户加价：</label><input type="text" name="add_order_price" class="form-control" value="{$info.add_order_price}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>服务周期：</label><input type="number" name="service_day" id="service_day" class="form-control" style="width: 77%;" value="{$info.service_day}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>上户日期：</label><input type="text" name="true_b_time" id="true_b_time" class="form-control" value="{$now}"/>'
								+	'</div>'
								+	'<div class="btn_div clear">'
								+		'<button type="button" class="default_btn" id="sub_status_7">完成</button>'
								+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
								+	'</div>'
								+	'</form>'
								+'</div>'
							});
						}, function(){

						});

				});
				$('#sub_status_7').live('click',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;

					if($('#pact_number').val() == ''){
						layer.msg('请输入合同编号！');
						return false;
					}
					if($('#service_day').val() == ''){
						layer.msg('请输入服务周期！');
						return false;
					}
					if(!reg.test($('#true_b_time').val())){
						layer.msg('请输入正确的上户时间！');
						return false;
					}
					if(!reg.test($('#time').val())){
						layer.msg('请输入正确的保险日期！');
						return false;
					}
					$('#form_status_7').submit();
				});

				$('input[name=price_add]').live('click',function(){
					var price_add = $('input[name=price_add]:checked').val();
					if(price_add==1){
						$('#add_reason').show();
						$('#add_nurse_price').show();
						$('#add_order_price').show();
					}else{
						$('#add_reason').hide();
						$('#add_nurse_price').hide();
						$('#add_order_price').hide();
					}

				});



				$('#status_back_4').live('click',function(){
					layer.confirm('确认阿姨被售后了吗？', {
						btn: ['是的','再努力下'] //按钮
					}, function(){
						layer.closeAll();
						STATUS = 4;
						xiahu();
					}, function(){
					});

				});
				$('#status_8').live('click',function(){
					layer.confirm('确认阿姨下户了吗？', {
						btn: ['是的','点错了'] //按钮
					}, function(){
						layer.closeAll();
						STATUS = 8;
						xiahu();
					}, function(){
					});

				});
				//					阿姨下户信息 弹窗
				function xiahu(){
					var sub_str = "javascript:return window.confirm('确定该阿姨下户？')";
					layer.open({
						type: 1,
						title: '阿姨下户信息',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/TakeNeed/status_8" method="post" id="form_status_8" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
						+	'<div class="opn_div clear">'
						+		'<label>实际上户时间：{$info.true_b_time}</label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>实际下户时间：</label><input type="text" class="form-control w212" value="" name="true_s_time" id="true_s_time"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>上户天数：<span id="service_day"></span></label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>合同金额：{$info.product_price}<if condition="$info.price_add eq 1"> + {$info.add_order_price}</if></label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>已收金额：{$info.price_come_true}</label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨编号：</label><input type="text" class="form-control" value="{$nurse.number}" readonly="readonly"/>'
						+ 			'<input type="hidden" class="form-control" name="nurse_id" id="nurse_id" value="{$nurse.id}" readonly="readonly"/>'
						+ 			'<input type="hidden" class="form-control" name="order_id" id="order_id" value="{$info.id}" readonly="readonly"/>'
						+ 			'<input type="hidden" class="form-control" name="status" value="'+STATUS+'" readonly="readonly"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="{$nurse.name}" readonly="readonly"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨等级：{$nurse.price_name}</label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>应发工资：</label><input type="text" class="form-control" value="" id="nurse_pay" name="nurse_pay" style="width: 50%" /> <if condition="$info.price_add eq 1"><span style="vertical-align: middle;"> + {$info.add_nurse_price}</span></if>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>发放情况：</label>'
						+		'<span>'
						+			'<input type="radio" name="is_defer" value="0" checked/>按时结算&nbsp;'
						+			'<input type="radio" name="is_defer" value="1"/>暂缓发放'
						+		'</span>'
						+	'</div>'
						+	'<div class="btn_div clear">'
						+		'<button type="button" class="default_btn" id="sub_status_8">完成</button>'
						+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
						+	'</div>'
						+	'</form>'
						+'</div>'
					});
				}

				$('#sub_status_8').live('click',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
					if(!reg.test($('#true_s_time').val())){
						layer.msg('下户日期不正确！');
						return false;
					}
					if($('#nurse_pay').val() == ''){
						layer.msg('请填写下户时间计算薪资！');
						return false;
					}

					$('#form_status_8').submit();
				});

				$('#true_s_time').live('change',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
					var nurse_id = $('#nurse_id').val();
					var order_id = $('#order_id').val();
					var true_s_time = $('#true_s_time').val();
					if(!reg.test(true_s_time)){
						layer.msg('下户日期不正确！');
						return false;
					}
					$.ajax({
						type:'POST', url:MODULE+'/TakeNeed/sure_price.html', dataType:'json', data:{nurse_id:nurse_id,order_id:order_id,true_s_time:true_s_time},
						success:function(data){
							if(data.code==1000){
								$('#service_day').html(data.service_day);
								$('#nurse_pay').val(data.price);
							}else{
								layer.msg('下户时间异常');
							}}});
				});

				function close_lay(){
					layer.closeAll();
				}
			</script>
			<!--main end-->

</body>

</html>