<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<script type="text/javascript" src="../js/jquery-1.7.1.min.js" ></script>
<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
<script type="text/javascript" src="../layer/layer.js" ></script>
</head>

<body>
			<!--top-->
			<div class="page-header">
				<div class="top_right">
					<button type="button" class="out">退出系统</button>
				</div>
			</div>
			<!--top end-->
			<!--left-->
			<div class="col-md-2 column mune">
				<div class="head_img">
					<img src="../img/user_img.jpg" />
				</div>
				<div class="user_info">
					<p class="name">刘庆</p>
					<p class="job">客服</p>
				</div>
				<ul class="left_menu">
					<li><a href="#"><span class="dingdan">首<i></i>页</span></a></li>
					<li><a href="../auntControl/auntControl.html"><span class="dingdan">阿姨管理</span></a></li>
				</ul>
			</div>
			<!--left end-->
			<script>
				$('.left_menu li').eq(1).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle1">
					阿姨资料
				</div>
				<div class="tab_tle">
					<span class="int_s"></span>基本详情
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td rowspan="6" width="21%">
								<div class="aunt_img">
									<img src="../img/user_img.jpg" />
								</div>
							</td>
							<td width="26%"><label>编号：</label>TLAY-20160214</td>
							<td width="26%"><label>姓名：</label>李翰宇</td>
							<td width="27%"><label>年龄：</label>25</td>
						</tr>
						<tr>
							<td><label>属相：</label>哈哈</td>
							<td><label>籍贯：</label>湖北襄阳</td>
							<td><label>从业时间：</label>3年</td>
						</tr>
						<tr>
							<td><label>身高：</label>165cm</td>
							<td><label>体重：</label>65KG</td>
							<td><label>上一份工作：</label>***</td>
						</tr>
						<tr>
							<td><label>出生日期：</label>1975-06-01</td>
							<td><label>当前状态：</label>未上户</td>
							<td><label>当前职称：</label>高级育婴师、通乳师</td>
						</tr>
						<tr>
							<td><label>微信号：</label>lihanyu1002</td>
							<td><label>联系方式：</label>18382389765</td>
							<td><label>身份证：</label>420624195421521252</td>
						</tr>
						<tr>
							<td><label>是否住宿：</label>是</td>
							<td><label>工资银行：</label>农业银行</td>
							<td><label>银行卡号：</label>420624195421521252</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>专业能力
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="47%"><label>职业培训学校：</label>田螺阿姨</td>
							<td width="53%"><label>性格：</label>活波型</td>
						</tr>
						<tr>
							<td><label>协议类型：</label>正式员工</td>
							<td><label>等级评定：</label>小田螺1.1</td>
						</tr>
						<tr>
							<td colspan="2"><label>从业经历简介：</label>
								<div class="rtdiv">从业经历简介从业经历简介从业经历简介从业经历简介从简介从业经历简介从业经历简介从业经历简介从业经历简介从业经历简介</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label>技能评估：</label>
								<div class="rtdiv">
									<span class="marks">新生儿生活照料85分</span>
									<span class="marks">新生儿健康护理50分</span>
									<span class="marks">新生儿疾病监测60分</span>
									<span class="marks">新生儿早起促进66分</span>
									<br />
									<span class="marks">产妇专业护理10分</span>
									<span class="marks">产妇生活护理10分</span>
									<span class="marks">产妇心里护理10分</span>
									<span class="marks">产妇疾病预防20分</span>
									<br />
									<span class="marks">产妇产后恢复20分</span>
									<span class="marks">产妇乳房护理10分</span>
									<span class="marks">产妇饮食护理100分</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>家庭资料
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="47%"><label>家庭住址：</label>成都市高新区环球中心E1-18楼</td>
							<td width="53%"><label>现居住地：</label>成都市高新区环球中心E1-18楼</td>
						</tr>
						
						<tr>
							<td colspan="2">
								<table class="tab_info face_tab_2">
									<tbody>
										<tr class="info_name">
											<td width="17%">家庭成员姓名</td>
											<td width="17%">关系</td>
											<td width="17%">职业</td>
											<td width="17%">联系方式</td>
											<td width="32%">现居地</td>
										</tr>
										<tr>
											<td>李翰宇</td>
											<td>2016-07-15</td>
											<td>李翰宇</td>
											<td>18883238989</td>
											<td>成都市高新区环球中心E1-18楼</td>
										</tr>
										
									</tbody>
								</table>
							</td>
						</tr>
						
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>个人信息
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="47%"><label>婚姻情况：</label>已婚已育</td>
							<td width="53%"><label>带孩子：</label>20个</td>
						</tr>
						
						<tr>
							<td colspan="2"><label>个人签名：</label>
								<div class="rtdiv">哈哈哈哈健身房地方就肯定是分看电视就浪费空间的顺口溜分开了的思</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label>曾接受过的职业培训项目：</label>
								<div class="rtdiv">技能1&nbsp;&nbsp;技能2&nbsp;&nbsp;技能3&nbsp;&nbsp;</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label>擅长菜系：</label>
								<div class="rtdiv">川菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;</div>
							</td>
						</tr>
						<tr>
							<td colspan="2"><label>擅长口味：</label>
								<div class="rtdiv">川菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;嘻嘻菜&nbsp;&nbsp;</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>个人经历
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td>
								<table class="tab_info face_tab_2">
									<tbody>
										<tr class="info_name">
											<td width="17%">时间</td>
											<td width="17%">单位名称</td>
											<td width="17%">职位</td>
											<td width="17%">薪酬</td>
											<td width="32%">工作内容</td>
										</tr>
										<tr>
											<td>2016-07至2016-07</td>
											<td>环球中心</td>
											<td>月嫂</td>
											<td>5K</td>
											<td>月嫂</td>
										</tr>
										
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tab_tle">
					<span class="int_s"></span>老师评语
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td><label>老师评语：</label>
								<div class="rtdiv">老师评语老师评语老师评语老师评语老师评语老师评语老师评语老师评语老师评语老师评语</div>
							</td>
						</tr>
					</tbody>
				</table>
				
				
				<div class="tab_tle">
					<span class="int_s"></span>图片资料
				</div>
				<table class="auntTab pictures">
					<tbody>
						<tr>
							<td><label>生活照：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
										<li><img src="../img/user_img.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><label>身份证扫描件：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><label>体检报告：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><label>从业资格证：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
										<li><img src="../img/login.png"/></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td><label>其他资料：</label>
								<div class="rtdiv">
									<ul class="certificate clear">
										<li><img src="../img/user_img.jpg"/></li>
										<li><img src="../img/erweima.jpg"/></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<input type="button" class="default_btn m_left_20" onclick="location.href='changeAuntInfo.html'" value="修改"/>
					<input type="button" class="default_btn" onclick="javascript:history.go(-1);" value="返回"/>
				</div>
			</div> 
			<!--main end-->
			<script>
				$('.certificate>li>img').click(function(imgs){
					imgs = $(this).attr('src');
					layer.open({
					  type: 1,
					  title: false,
					  area: ['auto', 'auto'],
					  content: '<img src="'+imgs+'"/>'
					});
				});
			</script>
			
			
</body>

</html>