<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>


</head>

<body>
<include file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(3).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<ul class="nav nav-tabs">
					<!--<li>-->
						 <!--<a href="auntControl.html">阿姨管理</a>-->
					<!--</li>-->
					<li <if condition="$agreement_type eq 3">class="active" </if> >
						 <a href="__MODULE__/Nurse/nurseList_3.html">三单试用</a>
					</li>
					<li  <if condition="$agreement_type eq 1">class="active" </if> >
						 <a href="__MODULE__/Nurse/nurseList_1.html">一年合同</a>
					</li>
					<li  <if condition="$agreement_type eq 24">class="active" </if> >
						<a href="__MODULE__/Nurse/nurseList_24.html">回收站</a>
					</li>
				</ul>
				<div class="form-inline">
					<div class="form-group">
						 <label>阿姨姓名</label><input type="text" class="form-control" id="name"/>
						<input type="hidden" id="agreement_type" value="{$agreement_type}"/>
					</div>
					<div class="form-group">
						<label>主状态</label>
						<select class="form-control" id="status_sh">
					          <option value="0">全部</option>
					          <option value="1">未匹配</option>
					          <option value="2">待上户</option>
					          <option value="3">已上户</option>
					     </select>
					</div>
					<div class="form-group">
						 <label>次状态</label>
						 <select class="form-control" id="status_own">
							 <option value="0">全部</option>
							 <option value="1">暂不接单</option>
							 <option value="2">等单中</option>
							 <option value="3">私签中</option>
							 <option value="4">外单中</option>
					     </select>
					</div>
					
					<div class="form-group">
						 <button type="submit" class="subform" id="search">搜索</button>
					</div>
					
				</div>
				<table class="tab_info">
					<tbody>
						<tr class="present_num">
							<td colspan="14">
								当前列表数据为：<span id="show_number_str"></span>条
							</td>
						</tr>

						<if condition="$agreement_type eq 24">
						<tr class="info_name">
							<td width="8%">阿姨编号</td>
							<td width="8%">阿姨姓名</td>
							<td width="8%">属性</td>
							<td width="8%">工作年限</td>
							<td width="8%">回收站时间</td>
							<td width="8%">回收站理由</td>
							<td width="15%">操作</td>
						</tr>
							<else/>
							<tr class="info_name">
								<td width="8%">阿姨编号</td>
								<td width="8%">主状态</td>
								<td width="8%">次状态</td>
								<td width="8%">阿姨姓名</td>
								<td width="8%">属性</td>
								<td width="8%">工作年限</td>
								<td width="8%">完成订单量</td>
								<td width="8%">下一单时间</td>
								<td width="8%">匹配记录</td>
								<td width="8%">签约记录</td>
								<td width="15%">操作</td>
							</tr>
							</if>
						<!--<tr>-->
							<!--<td>TLAY-512</td>-->
							<!--<td>等单中</td>-->
							<!--<td>等单中</td>-->
							<!--<td>黄伟</td>-->
							<!--<td>外聘阿姨</td>-->
							<!--<td>3年2个月</td>-->
							<!--<td><a onclick="wanchengDD()">2单</a></td>-->
							<!--<td>2016-11-5</td>-->
							<!--<td>2单</td>-->
							<!--<td>2单</td>-->
							<!--<td><a onclick="taotai()">淘汰</a><a onclick="zhuanzheng()">转正</a><a href="auntInfo.html">查看</a></td>-->
						<!--</tr>-->
						<tr class="last_tr">
							<td colspan="14" class="clear">
								<div class="page" id="pagenum" style="margin:0 auto;width: 80%; text-align: left;display: inline-block;">

								</div>

								<div class="btn_modular">
									<input type="button" class="btnform" onclick="location.href='__MODULE__/Nurse/addNurse.html'" value="新增阿姨"/>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
<script src="__PUBLIC__/js/nurseList.js"></script>


			<!--main end-->
			<script>


				$('.level_up').live('click',function(){

					var sub_str = "javascript:return window.confirm('确认修改？')";
					layer.open({
						type: 1,
						title: '升级',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/Nurse/change_level" method="post" id="form_change_level" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
						+	'<div class="opn_div clear">你确定'+$(this).attr('name')+'阿姨升级吗？</div>'
						+	'<div class="opn_div clear">'
						+		'<label>当前等级：'+$(this).attr('price_name')+'</label>'
						+		'<input type="hidden" name="id" value="'+$(this).attr('nurse_id')+'"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨等级：</label>'
						+       '<select class="form-control" name="price_name" id="price_name">'
						+          	'<option>小田螺1.1</option>'
						+	        '<option>小田螺1.2</option>'
						+	        '<option>小田螺1.3</option>'
						+	        '<option>小田螺1.4</option>'
						+	        '<option>小田螺1.5</option>'
						+	        '<option>大田螺2.1</option>'
						+	        '<option>大田螺2.2</option>'
						+	        '<option>大田螺2.3</option>'
						+	        '<option>大田螺2.4</option>'
						+	        '<option>大田螺2.5</option>'
						+	        '<option>金牌田螺3.1</option>'
						+	        '<option>金牌田螺3.2</option>'
						+	        '<option>金牌田螺3.3</option>'
						+	        '<option>金牌田螺3.4</option>'
						+	        '<option>金牌田螺3.5</option>'
						+	        '<option>超级田螺</option>'
						+       '</select>'
						+	'</div>'
//						+	'<div class="opn_div clear">'
//						+		'<label>升级原因：</label><input type="text" class="form-control" value=""/>'
//						+	'</div>'
						+	'<div class="btn_div clear">'
						+		'<button type="button" class="default_btn" id="sub_change_level">确定</button>'
						+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
						+	'</div>'
						+	'</form>'
						+'</div>'
					});
					$('#price_name').val($(this).attr('price_name'));
				});

				$('#sub_change_level').live('click',function(){
					$('#form_change_level').submit();
				});

//					淘汰 弹窗
		$('a[do_type=taotai]').live('click',function(){
			var sub_str = "javascript:return window.confirm('确定淘汰？')";
			layer.open({
				type: 1,
				title: '淘汰',
				area: ['auto', 'auto'], //宽高
				content: '<div class="lay_cnt">'
				+   '<form action="__MODULE__/Nurse/status_24" method="post" id="forms_status_24" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
				+	'<div class="opn_div clear">此操作不可逆，你确定淘汰'+$(this).attr('s_name')+'学员吗？</div>'
				+	'<div class="opn_div clear">'
				+		'<label>淘汰时间：</label><input type="text" class="form-control" value="{$now_day}" name="status_24_t" id="status_24_t"/><input type="hidden" name="id" class="form-control" value="'+$(this).attr('s_id')+'"/>'
				+	'</div>'
				+	'<div class="opn_div clear">'
				+		'<label>淘汰原因：</label><input type="text" class="form-control" value="" name="status_24_r" id="status_24_r"/>'
				+	'</div>'
				+	'<div class="btn_div clear">'
				+		'<button type="button" class="default_btn" id="sub_status_24">放入回收站</button>'
				+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
				+	'</div>'
				+	'</form>'
				+'</div>'
			});
		});

		//淘汰
		$('#sub_status_24').live('click',function(){
			var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
			if(!reg.test($('#status_24_t').val())){
				layer.msg('请输入正确的日期！');
				return false;
			}
			if($('#status_24_r').val()==''){
				layer.msg('请输入淘汰原因！');
				return false;
			}
			$('#forms_status_24').submit();

		});




//					转正 弹窗
					function zhuanzheng(){
						layer.open({
						  	type: 1,
						  	title: '转正',
							area: ['auto', 'auto'], //宽高
							content: '<div class="lay_cnt">'
									+   '<form>'
									+	'<div class="opn_div clear">此操作不可逆，你确定XXX阿姨转正吗？</div>'
									+	'<div class="opn_div clear">'
									+		'<label>转正时间：</label><input type="text" class="form-control" value=""/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>协议编号：</label><input type="text" class="form-control" value=""/>'
									+	'</div>'
									+	'<div class="btn_div clear">'
									+		'<button type="submit" class="default_btn">确定</button>'
									+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
									+	'</div>'
									+	'</form>'
									+'</div>'
						});
					}
//					完成订单量  弹窗
					$('.search').live('click',function(){
						var type = $(this).attr('type');
						var nurse_id = $(this).attr('nurse_id');
						var number = $(this).attr('number');
						if(number==0){
							return false;
						}
						var time_arr = ['','订单完成时间','订单匹配时间','订单签单时间'];
						var time_arr = ['','完成','匹配','签单'];
						layer.open({
							type: 1,
							title: ''+$(this).attr('nurse_name')+time_arr[type]+'订单量',
							area: ['auto', '500px'], //宽高
							content: '<div class="lay_cnt lay_cnt_max">'
							+	'<table class="tab_info tab860">'
							+	'<tbody>'
							+		'<tr class="info_name" id="show_order_list">'
							+			'<td width="12%">订单编号</td>'
							+			'<td width="12%">订单性质</td>'
							+			'<td width="12%">派单人</td>'
							+			'<td width="12%">'+time_arr[type]+'</td>'
							+			'<td width="12%">客户姓名</td>'
							+			'<td width="12%">操作</td>'
							+		'</tr>'
							+	'</tbody>'
							+	'</table>'
							+'</div>'
						});

						var str_search = '';
						$.ajax({
							type: "POST",
							url: "__MODULE__/Nurse/getNurseSearch",
							data: {type:type, nurse_id:nurse_id},
							dataType: "json",
							success: function(data){
								$.each(data,function(i,item){
									var time_str = '';
									if(type == 1){
										time_str = item.status_8_str;
									}else if(type == 2){
										time_str = item.status_5_str;
									}else if(type == 3){
										time_str = item.status_6_str;
									}
									str_search +='<tr>'
									+			'<td>'+item.order_number+'</td>'
									+			'<td>'+item.order_type_name+'</td>'
									+			'<td>'+item.add_employee+'</td>'
									+			'<td>'+time_str+'</td>'
									+			'<td>'+item.order_name+'</td>'
									+			'<td><a href="__MODULE__/TakeNeed/overOrderInfo/id/'+item.order_id+'.html" target="_blank">查看详情</a></td>'
									+		'</tr>';
								});

								$('#show_order_list').after(str_search);
							}
						});

					});
					function close_lay(){
						layer.closeAll();
					}
			</script>
</body>

</html>