<ul class="nav nav-tabs">
    <!--<if condition="in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24,1))">-->
        <!--<li <if condition="ACTION_NAME eq 'serviceList'">class="active"</if>>-->
            <!--<a href="__MODULE__/Need/serviceList.html">客服派单</a>-->
        <!--</li>-->
        <!--<li <if condition="ACTION_NAME eq 'returnList'">class="active"</if>>-->
            <!--<a href="__MODULE__/Need/returnList.html">客服回收站</a>-->
        <!--</li>-->
    <!--</if>-->
    <if condition="in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24,3))">
        <li <if condition="ACTION_NAME eq 'q_serviceList'">class="active"</if>>
            <a href="__MODULE__/Qneed/q_serviceList.html">渠道派单</a>
        </li>


        <li <if condition="ACTION_NAME eq 'q_returnList'">class="active"</if>>
            <a href="__MODULE__/Qneed/q_returnList.html">渠道回收站</a>
        </li>
     </if>
</ul>