<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js" ></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.longyuJs.js"></script>


<div class="page-header">
    <div class="top_right">
        <a href="__MODULE__/Index/login_out"><button type="button" class="out">退出系统</button></a>
    </div>
</div>
<!--top end-->
<!--left-->

<div class="col-md-2 column mune">
    <div class="head_img">
        <a href="__MODULE__/User/userInfo/id/{$_SESSION[C('USER_AUTH_KEY')]['id']}.html"><img src="__PUBLIC__/img/user_img.jpg" /></a>
    </div>
    <div class="user_info">
        <p class="name">{$_SESSION[C('USER_AUTH_KEY')]['real_name']}</p>
        <p class="job">{$_SESSION[C('USER_AUTH_KEY')]['permission_name']}</p>
    </div>
    <ul class="left_menu">
        <li><a href="__MODULE__/"><span class="dingdan">首<i></i>页</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24,1,2,3))){echo 'display:none;';}?>" ><a href="__MODULE__/Need/serviceList.html"><span class="dingdan">派单</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24,1,2,3))){echo 'display:none;';}?>"><a href="__MODULE__/TakeNeed/serviceList.html"><span class="dingdan">接单</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24))){echo 'display:none;';}?>"><a href="__MODULE__/Nurse/nurseList_1.html"><span class="dingdan">阿姨</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24))){echo 'display:none;';}?>"><a href="__MODULE__/Student/studentList_1.html"><span class="dingdan">学员</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24))){echo 'display:none;';}?>"><a href="__MODULE__/Mate/mateList.html"><span class="dingdan">匹配</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24))){echo 'display:none;';}?>"><a href="__MODULE__/Hold/holdList.html"><span class="dingdan">维系</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24))){echo 'display:none;';}?>"><a href="__MODULE__/Safe/safeList.html"><span class="dingdan">阿姨保险</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24))){echo 'display:none;';}?>"><a href="__MODULE__/Finance/financeList.html"><span class="dingdan">财务</span></a></li>
        <li style="<?php if(!in_array($_SESSION[C('USER_AUTH_KEY')]['permission'],array(24))){echo 'display:none;';}?>"><a href="__MODULE__/User/userList.html"><span class="dingdan">员工管理</span></a></li>
    </ul>
</div>


<script>
    var MODULE  =  '__MODULE__';
    var ROOT  =  '__ROOT__';
    var UPLOADS  =  '__UPLOADS__';

</script>