<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>


</head>

<body>
			<!--top-->
			<include file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(1).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle1">
					订单详情
				</div>
				<div class="tab_tle" >
					<span class="int_s"></span>订单信息
				</div>
				<table class="auntTab">
					<tbody>
						<tr>
							<td width="33%"><label>订单编号：</label>{$info.number}</td>
							<td width="33%"><label>派发人：</label>{$info.add_employee}</td>
							<td width="33%"></td>
						</tr>
						<tr>
							<td><label>订单类型：</label>{$info.order_type_name}</td>
							<td><label>服务周期：</label>{$info.service_day}天</td>
							<td><label>订单价格：</label>{$info.product_price}元</td>
						</tr>
						<tr>
							<td><label>预计上户时间：</label>{$info.b_time}</td>
							<td><label>实际上户时间：</label>{$info.true_b_time}</td>
							<td></td>
						</tr>
						<tr>
							<td><label>客户姓名：</label>{$info.name}</td>
							<td><label>手机：</label>{$info.phone}</td>
							<td><label>微信：</label>{$info.wchat}</td>
						</tr>
						
						<tr>
							<td colspan="3"><label>服务地址：</label>
								<div class="rtdiv">
									{$info.service_place}
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="3"><label>备注：</label>
								<div class="rtdiv">
									{$info.remark}
								</div>
							</td>
						</tr>
						<if condition="$info.price_add eq 1">
							<tr>
								<td><label>阿姨加价：</label>{$info.add_nurse_price}</td>
								<td><label>订单加价：</label>{$info.add_order_price}</td>
							</tr>
							<tr>
								<td><label>加价原因：</label>{$info.add_reason}</td>
							</tr>
						</if>
					</tbody>
				</table>
				<if condition="$info.status eq 5">

					<div class="page">
						<div class="tab_tle">
							<span class="int_s"></span>匹配列表
						</div>
						<ul class="pipei clear">
							<volist name="order_nurse" id="vo" k="key">
								<li nurse_id="{$vo.id}">
									<a href="__MODULE__/Nurse/nurseInfo/id/{$vo.id}.html"><img src="__UPLOADS__{$vo.title_img}" /></a>
									<p><input type="radio" name="nurse_id" value="{$vo.id}" nurse_name="{$vo.nurse_name}" nurse_number="{$vo.nurse_number}" <if condition="$key eq 0">checked</if>/>{$vo.nurse_name} </p>

									<input type="button" class="del_aunt" value="X" do="del_nurse" nurse_id="{$vo.id}"/>
								</li>
							</volist>
						</ul>
					</div>


					<elseif condition="$info.status egt 6 OR $info.status lt 22"/>
					<div class="page">
						<div class="tab_tle">
							<span class="int_s"></span>匹配列表
						</div>
						<ul class="pipei clear">
							<volist name="order_nurse" id="vo" k="key">
								<li nurse_id="{$vo.id}">
									<a href="__MODULE__/Nurse/nurseInfo/id/{$vo.id}.html"><img src="__UPLOADS__{$vo.title_img}" /></a>
									<p>{$vo.nurse_name} </p>
									<input type="hidden" name="nurse_id" value="{$vo.id}" nurse_name="{$vo.nurse_name}" nurse_number="{$vo.nurse_number}" />
								</li>
							</volist>
						</ul>
					</div>
				</if>
				
				
				<div class="form-group">
					<if condition="$info['status'] eq 3">
						<input type="button" class="btnform m_left_20 magrin0" value="订单发出" onclick="location.href='__MODULE__/Qneed/q_changeNeedStatus/id/{$info.id}.html'"/>
					</if>
					<if condition="$info['status'] lt 6">
					<input type="button" class="default_btn" onclick="location.href='__MODULE__/Qneed/q_changeNeed/id/{$info.id}.html'" value="修改"/>
					</if>
					<if condition="$info['status'] eq 5">
						<input type="button" class="btnform magrin0 finish" value="确定阿姨" id="status_6">
						<elseif condition="$info['status'] eq 6"/>
						<input type="button" class="btnform magrin0 finish" value="上户" id="status_7">

						<elseif condition="$info['status'] eq 7"/>
						<input type="button" class="btnform magrin0 finish" value="下户" id="status_8">

						</if>

					<input type="button" class="default_btn" onclick="javascript:history.go(-1);" value="返回"/>
				</div>
			</div> 
			<!--main end-->
			<script>

				$('#status_6').live('click',function(){
					var aunt = $('input:radio[name=nurse_id]:checked').attr('nurse_name');
					var nurse_number = $('input:radio[name=nurse_id]:checked').attr('nurse_number');
					var nurse_id = $('input:radio[name=nurse_id]:checked').val();
					if(aunt==null){
						layer.msg('请选中一个，才能完成订单');
						return false;
					}else{
						layer.confirm('确认使用'+aunt+'上户吗？', {
							btn: ['确认','点错了'] //按钮
						}, function(){
							layer.closeAll();
							var sub_str = "javascript:return window.confirm('确认选中？')";
							layer.open({
								type: 1,
								title: '选择上户阿姨',
								area: ['auto', 'auto'], //宽高
								content: '<div class="lay_cnt">'
								+   '<form action="__MODULE__/TakeNeed/status_6" method="post" id="form_status_6" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
								+	'<div class="opn_div clear">'
								+         '<input type="hidden" name="order_id" class="form-control" value="{$info.id}" />'
								+         '<input type="hidden" name="nurse_id" class="form-control" value="'+nurse_id+'" />'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>合同金额：</label><input type="text" name="price_come" class="form-control" value="{$info.product_price}" readonly/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨编号：</label><input type="text" class="form-control" value="'+nurse_number+'" readonly="readonly"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="'+aunt+'" readonly="readonly"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>是否加价：</label><input type="radio" name="price_add" value="1" <if condition="$info.price_add eq 1">checked</if>/>有&nbsp;&nbsp;'
								+		'<input type="radio" name="price_add" value="0"  <if condition="$info.price_add eq 0">checked</if>/>无&nbsp;&nbsp;'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_reason" <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>加价原因：</label><input type="text" name="add_reason" class="form-control" value="{$info.add_reason}"/>'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_nurse_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>阿姨加价：</label><input type="text" name="add_nurse_price" class="form-control" value="{$info.add_nurse_price}"/>'
								+	'</div>'
								+	'<div class="opn_div clear" id="add_order_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
								+		'<label>客户加价：</label><input type="text" name="add_order_price" class="form-control" value="{$info.add_order_price}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>服务周期：</label><input type="number" name="service_day" id="service_day" class="form-control" style="width: 77%;" value="{$info.service_day}"/>'
								+	'</div>'
								+	'<div class="opn_div clear">'
								+		'<label>预计上户：</label><input type="text" name="b_time" id="b_time" class="form-control" value="{$info.b_time}"/>'
								+	'</div>'
								+	'<div class="btn_div clear">'
								+		'<button type="button" class="default_btn" id="sub_status_6">完成</button>'
								+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
								+	'</div>'
								+	'</form>'
								+'</div>'
							});
						}, function(){

						});
					}

				});

				$('#sub_status_6').live('click',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;

					if($('#service_day').val() == ''){
						layer.msg('请输入服务周期！');
						return false;
					}
					if(!reg.test($('#b_time').val())){
						layer.msg('请输入正确的预计上户时间！');
						return false;
					}
					$('#form_status_6').submit();
				});

				$('#status_7').live('click',function(){
					var aunt = $('input[name=nurse_id]').attr('nurse_name');
					var nurse_number = $('input[name=nurse_id]').attr('nurse_number');
					var nurse_id = $('input[name=nurse_id]').val();
					layer.confirm('确认上户操作吗？', {
						btn: ['确认','点错了'] //按钮
					}, function(){
						layer.closeAll();
						var sub_str = "javascript:return window.confirm('确认上户？')";
						layer.open({
							type: 1,
							title: '上户',
							area: ['auto', 'auto'], //宽高
							content: '<div class="lay_cnt">'
							+   '<form action="__MODULE__/TakeNeed/status_7" method="post" id="form_status_7" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
							+	'<div class="opn_div clear">'
							+         '<input type="hidden" name="order_id" class="form-control" value="{$info.id}" />'
							+         '<input type="hidden" name="nurse_id" class="form-control" value="'+nurse_id+'" />'
							+	'</div>'
							+	'<div class="opn_div clear">'
							+		'<label>合同金额：</label><input type="text" name="" class="form-control" value="{$info.product_price}" readonly/>'
							+	'</div>'
							+	'<div class="opn_div clear">'
							+		'<label>阿姨编号：</label><input type="text" class="form-control" value="'+nurse_number+'" readonly="readonly"/>'
							+	'</div>'
							+	'<div class="opn_div clear">'
							+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="'+aunt+'" readonly="readonly"/>'
							+	'</div>'
							+	'<div class="opn_div clear">'
							+		'<label>保险购买：</label><input type="text" name="time" class="form-control" id="time" placeholder="2016-01-01"/>'
							+	'</div>'
							+	'<div class="opn_div clear">'
							+		'<label>是否加价：</label><input type="radio" name="price_add" value="1" <if condition="$info.price_add eq 1">checked</if>/>有&nbsp;&nbsp;'
							+		'<input type="radio" name="price_add" value="0"  <if condition="$info.price_add eq 0">checked</if>/>无&nbsp;&nbsp;'
							+	'</div>'
							+	'<div class="opn_div clear" id="add_reason" <if condition="$info.price_add eq 0">style="display:none;"</if>>'
							+		'<label>加价原因：</label><input type="text" name="add_reason" class="form-control" value="{$info.add_reason}"/>'
							+	'</div>'
							+	'<div class="opn_div clear" id="add_nurse_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
							+		'<label>阿姨加价：</label><input type="text" name="add_nurse_price" class="form-control" value="{$info.add_nurse_price}"/>'
							+	'</div>'
							+	'<div class="opn_div clear" id="add_order_price"  <if condition="$info.price_add eq 0">style="display:none;"</if>>'
							+		'<label>客户加价：</label><input type="text" name="add_order_price" class="form-control" value="{$info.add_order_price}"/>'
							+	'</div>'
							+	'<div class="opn_div clear">'
							+		'<label>服务周期：</label><input type="number" name="service_day" id="service_day" class="form-control" style="width: 77%;" value="{$info.service_day}"/>'
							+	'</div>'
							+	'<div class="opn_div clear">'
							+		'<label>上户日期：</label><input type="text" name="true_b_time" id="true_b_time" class="form-control" value="{$now}"/>'
							+	'</div>'
							+	'<div class="btn_div clear">'
							+		'<button type="button" class="default_btn" id="sub_status_7">完成</button>'
							+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
							+	'</div>'
							+	'</form>'
							+'</div>'
						});
					}, function(){

					});

				});
				$('#sub_status_7').live('click',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
					if($('#service_day').val() == ''){
						layer.msg('请输入服务周期！');
						return false;
					}
					if(!reg.test($('#true_b_time').val())){
						layer.msg('请输入正确的上户时间！');
						return false;
					}
					if(!reg.test($('#time').val())){
						layer.msg('请输入正确的保险日期！');
						return false;
					}
					$('#form_status_7').submit();
				});

				$('input[name=price_add]').live('click',function(){
					var price_add = $('input[name=price_add]:checked').val();
					if(price_add==1){
						$('#add_reason').show();
						$('#add_nurse_price').show();
//						$('#add_order_price').show();
					}else{
						$('#add_reason').hide();
						$('#add_nurse_price').hide();
//						$('#add_order_price').hide();
					}

				});
				$('#status_8').live('click',function(){
					layer.confirm('确认阿姨下户了吗？', {
						btn: ['是的','点错了'] //按钮
					}, function(){
						layer.closeAll();
						STATUS = 8;
						xiahu();
					}, function(){
					});

				});
				//					阿姨下户信息 弹窗
				function xiahu(){
					var sub_str = "javascript:return window.confirm('确定该阿姨下户？')";
					layer.open({
						type: 1,
						title: '阿姨下户信息',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/TakeNeed/status_8" method="post" id="form_status_8" onsubmit="'+sub_str+'"  enctype="multipart/form-data">'
						+	'<div class="opn_div clear">'
						+		'<label>实际上户时间：{$info.true_b_time}</label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>实际下户时间：</label><input type="text" class="form-control w212" value="" name="true_s_time" id="true_s_time"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>上户天数：<span id="service_day"></span></label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>合同金额：{$info.product_price}<if condition="$info.price_add eq 1"> + {$info.add_order_price}</if></label>'
						+	'</div>'
//						+	'<div class="opn_div clear">'
//						+		'<label>已收金额：{$info.price_come_true}</label>'
//						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨编号：</label><input type="text" class="form-control" value="{$nurse.number}" readonly="readonly"/>'
						+ 			'<input type="hidden" class="form-control" name="nurse_id" id="nurse_id" value="{$nurse.id}" readonly="readonly"/>'
						+ 			'<input type="hidden" class="form-control" name="order_id" id="order_id" value="{$info.id}" readonly="readonly"/>'
						+ 			'<input type="hidden" class="form-control" name="status" value="'+STATUS+'" readonly="readonly"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="{$nurse.name}" readonly="readonly"/>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>阿姨等级：{$nurse.price_name}</label>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>应发工资：</label><input type="text" class="form-control" value="" id="nurse_pay" name="nurse_pay" style="width: 50%" /> <if condition="$info.price_add eq 1"><span style="vertical-align: middle;"> + {$info.add_nurse_price}</span></if>'
						+	'</div>'
						+	'<div class="opn_div clear">'
						+		'<label>发放情况：</label>'
						+		'<span>'
						+			'<input type="radio" name="is_defer" value="0" checked/>按时结算&nbsp;'
						+			'<input type="radio" name="is_defer" value="1"/>暂缓发放'
						+		'</span>'
						+	'</div>'
						+	'<div class="btn_div clear">'
						+		'<button type="button" class="default_btn" id="sub_status_8">完成</button>'
						+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
						+	'</div>'
						+	'</form>'
						+'</div>'
					});
				}

				$('#sub_status_8').live('click',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
					if(!reg.test($('#true_s_time').val())){
						layer.msg('下户日期不正确！');
						return false;
					}
					if($('#nurse_pay').val() == ''){
						layer.msg('请填写下户时间计算薪资！');
						return false;
					}

					$('#form_status_8').submit();
				});

				$('#true_s_time').live('change',function(){
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
					var nurse_id = $('#nurse_id').val();
					var order_id = $('#order_id').val();
					var true_s_time = $('#true_s_time').val();
					if(!reg.test(true_s_time)){
						layer.msg('下户日期不正确！');
						return false;
					}
					$.ajax({
						type:'POST', url:MODULE+'/TakeNeed/sure_price.html', dataType:'json', data:{nurse_id:nurse_id,order_id:order_id,true_s_time:true_s_time},
						success:function(data){
							if(data.code==1000){
								$('#service_day').html(data.service_day);
								$('#nurse_pay').val(data.price);
							}else{
								layer.msg('下户时间异常');
							}}});
				});

				function close_lay(){
					layer.closeAll();
				}

			</script>
			
</body>

</html>