*{margin:0;padding:0;font-family: "Microsoft Yahei","Helvetica Neue","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;}
body,html{
	background: #579fe9;
}
.page{
	background: url(../img/loginbg.png) no-repeat center;
	height: 648px;
	width: 100%;
	margin-top: 80px;
}
.page>.content{
	width: 1200px;
	margin: 0 auto;
	height: 648px;
}
.ipt{
	width: 468px;
	float: right;
	padding: 240px 13px 0px 0px;
}
.ipt>input.txt{
	display: block;
	width: 374px;
	height: 56px;
	padding: 0 10px;
	font-size: 20px;
	color: #666666;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	margin: 24px auto 0;
}
.ipt>input.btn{
	display: block;
	width: 394px;
	height: 56px;
	font-size: 20px;
	color: #666666;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	margin: 70px auto 0;
	background: #FFFFFF;
	cursor: pointer;
	background: -webkit-linear-gradient(#FFFFFF, #f5f5f5); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#FFFFFF, #f5f5f5); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #f5f5f5); /* Firefox 3.6 - 15 */
	background: linear-gradient(#FFFFFF, #f5f5f5); /* 标准的语法 */
}