<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

</head>

<body>
			<!--top-->
			<include  file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(2).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle">
					<span class="int_s"></span>修改客户档案
				</div>
				<div class="tab_tle tab_tle1">
					家庭情况
				</div>
				<form action="__MODULE__/Order/changeFile" method="post" id="form" class="form" onsubmit="javascript:return window.confirm('确定保存么？')"  enctype="multipart/form-data">
				<div class="filesInfo form">
					<div class="form-group">
						 <label>客户姓名：</label><input type="text" class="form-control" value="{$info.name}" name="name"  id="name"/>
						 <label>联系方式：</label><input type="text" class="form-control" value="{$info.phone}" name="phone"  id="phone"/>
						<input type="hidden" name="id" value="{$info.id}"/>
					</div>
					<div class="form-group">
						 <label>家庭人数：</label><input type="text" class="form-control" value="{$info.family_num}" name="family_num"  id="family_num"/>
					</div>
					<div class="form-group">
						 <label>成员情况：</label><input type="text" class="form-control w_578" value="{$info.family_people}" name="family_people"  id="family_people"/>
					</div>
					<div class="form-group">
						 <label>孩子情况：</label><input type="text" class="form-control w_578" value="{$info.child_situation}" name="child_situation"  id="child_situation"/>
					</div>
					<div class="form-group">
						 <label>家庭住址：</label><input type="text" class="form-control w_578" value="{$info.family_address}" name="family_address"  id="family_address"/>
					</div>
					<div class="form-group">
						 <label>周边环境：</label><input type="text" class="form-control w_578" value="{$info.family_environment}" name="family_environment"  id="family_environment"/>
					</div>
				</div>
				<div class="tab_tle tab_tle1">
					工作内容
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>主要内容：</label><textarea class="form-control w_578" name="work_first"  id="work_first">{$info.work_first}</textarea>
					</div>
					<div class="form-group">
						 <label>辅助内容：</label><textarea class="form-control w_578" name="work_second"  id="work_second">{$info.work_second}</textarea>
					</div>
				</div>	
				<div class="tab_tle tab_tle1">
					家庭对接人
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>长期在家人：</label><input type="text" class="form-control" value="{$info.long_stay_home_people}" name="long_stay_home_people"  id="long_stay_home_people"/>
						 <label>选择权：</label><input type="text" class="form-control" value="{$info.choice}" name="choice"  id="choice"/>
					</div>
					<div class="form-group">
						 <label>主对接人：</label><input type="text" class="form-control" value="{$info.pick_first}" name="pick_first"  id="pick_first"/>
						 <label>次对接人：</label><input type="text" class="form-control" value="{$info.pick_second}" name="pick_second"  id="pick_second"/>
					</div>
					<div class="form-group">
						 <label>主对接人性格：</label><textarea class="form-control w_555" name="pick_first_character"  id="pick_first_character">{$info.pick_first_character}</textarea>
					</div>
				</div>	
				
				<div class="tab_tle tab_tle1">
					家庭禁忌与习俗
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>家庭禁忌与习俗：</label><textarea class="form-control w_542" name="customs_taboos"  id="customs_taboos">{$info.customs_taboos}</textarea>
					</div>
				</div>	
				<div class="form-group" style="margin-left: 19px;">
					<button type="button" class="btnform magrin0" id="sub">保存修改</button>
					<button type="button" class="default_btn" onclick="javascript:history.back(-1);">返回</button>
				</div>
				</form>
			</div>

			<script>
				$('#sub').live('click',function(){


					$('#form').submit();
				});

			</script>

			<!--main end-->
</body>

</html>