<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>

</head>

<body>
			<!--top-->
			<include  file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(2).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle">
					<span class="int_s"></span>客户档案
				</div>
				<div class="tab_tle tab_tle1">
					家庭情况
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>客户姓名：</label><span class="w_240">{$info.name}</span>
						 <label>联系方式：</label><span class="w_240">{$info.phone}</span>
					</div>
					<div class="form-group">
						 <label>订单类型：</label><span class="w_240">{$info.other}</span>
						 <label>家庭人数：</label><span class="w_240">{$info.family_num}</span>
					</div>
					<div class="form-group">
						 <label>成员情况：</label><span class="w_578">{$info.family_people}</span>
					</div>
					<div class="form-group">
						 <label>孩子情况：</label><span class="w_578">{$info.child_situation}</span>
					</div>
					<div class="form-group">
						 <label>家庭住址：</label><span class="w_578">{$info.family_address}</span>
					</div>
					<div class="form-group">
						 <label>周边环境：</label><span class="w_578">{$info.family_environment}</span>
					</div>
				</div>
				<div class="tab_tle tab_tle1">
					工作内容
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>主要内容：</label><span class="w_578">{$info.work_first}</span>
					</div>
					<div class="form-group">
						 <label>辅助内容：</label><span class="w_578">{$info.work_second}</span>
					</div>
				</div>	
				<div class="tab_tle tab_tle1">
					家庭对接人
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>长期在家人：</label><span class="w_240">{$info.long_stay_home_people}</span>
						 <label>选择权：</label><span class="w_240">{$info.choice}</span>
					</div>
					<div class="form-group">
						 <label>主对接人：</label><span class="w_240">{$info.pick_first}</span>
						 <label>次对接人：</label><span class="w_240">{$info.pick_second}</span>
					</div>
					<div class="form-group">
						 <label>主对接人性格：</label><span class="w_578">{$info.pick_first_character}</span>
					</div>
				</div>	
				
				<div class="tab_tle tab_tle1">
					家庭禁忌与习俗
				</div>
				<div class="filesInfo form">
					<div class="form-group">
						 <label>家庭禁忌与习俗：</label><span class="w_578">{$info.customs_taboos}</span>
					</div>
				</div>
				<div class="form-group" style="margin-left: 19px;">
					<if condition="$info.status eq 11">
						<button type="button" class="default_btn" onclick="javascript:history.back(-1);">返回</button>
						已放入回收站 原因:{$info.reason}
						<else/>



						<button type="button" class="btnform magrin0" onclick="location.href='__MODULE__/Order/changeFile/id/{$info.id}.html'">修改档案</button>
						<button type="button" class="btnform magrin0" onclick="location.href='__MODULE__/Order/contactList/id/{$info.id}.html'">查看维系表</button>

						<if condition="$info.status eq 1">
							<button type="button" class="btnform magrin0" onclick="addRecord()">形成订单</button>
						<elseif condition="$info.status eq 2"/>
							已签单
						<elseif condition="$info.status eq 3"/>
							已上户
						<elseif condition="$info.status eq 4"/>
							已下户
						</if>


						<button type="button" class="default_btn" onclick="javascript:history.back(-1);">返回</button>


						<if condition="$info.status eq 1">
							<button type="button" class="default_btn"  id="del_this"  order_id="{$info.id}">回收站</button>
						</if>
					</if>
				</div>
			</div> 
			<!--main end-->
			<script>
				$('#del_this').live('click',function(){
					layer.open({
						type: 1,
						title: '放入回收站？',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/Order/del_order" method="post" id="form_del" class="form"   enctype="multipart/form-data">'
						+	'<div class="opn_div clear">'
						+		'<label>原因：</label><input type="text" class="form-control" value="" name="reason" id="reason"/><input type="hidden"  value="{$info.id}" name="id"/>'
						+	'</div>'
						+	'<div class="btn_div clear">'
						+		'<button type="submit" class="default_btn" id="sub_del">确定</button>'
						+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
						+	'</div>'
						+	'</form>'
						+'</div>'
					});
				});

				$('#sub_del').live('click',function(){
					if($('#reason').val()==''){
						layer.msg('请填写原因！');
						return false;
					}
					$('#form_del').submit();
				});

					//核查阿姨
				$('.check_number').live('click',function(){
					var nurse_number = $(this).parent().find('input').val();
					$.AjaxPost(MODULE+"/order/getNurseInfo", {number:nurse_number}, function (backdata) {
						if (backdata.code == 1003) {
							layer.msg('请输入编号！');
						}else if (backdata.code == 1002) {
							layer.msg('未找到阿姨！');
						}else if (backdata.code == 1000) {
							layer.msg('成功！');
							backdata.data.number;
							$('#nurse_name').val(backdata.data.name);
							$('#nurse_id').val(backdata.data.id);
							$('#nurse_pay').val(backdata.data.level_price);
						}
					});
				});

				function duibi(a, b) {
					var arr = a.split("-");
					var starttime = new Date(arr[0], arr[1], arr[2]);
					var starttimes = starttime.getTime();

					var arrs = b.split("-");
					var lktime = new Date(arrs[0], arrs[1], arrs[2]);
					var lktimes = lktime.getTime();
					if (starttimes >= lktimes) {
						return 1;
					}else{
						return 2;
					}
				}

				$('#make_order').live('click',function(){


					var a=/^[0-9]*(\.[0-9]{1,2})?$/;
					var reg=/^(?:(?!0000)[0-9]{4}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[0-9]{2}(?:0[48]|[2468][048]|[13579][26])|(?:0[48]|[2468][048]|[13579][26])00)-02-29)$/;
					$('#contract_money').val()
					if(!a.test($('#contract_money').val()) || $('#contract_money').val()=='') {
						layer.msg('请输入正确的合同金额！');
						return false;
					}
					if(!a.test($('#get_money').val()) || $('#get_money').val()=='') {
						layer.msg('请输入正确的已收金额！');
						return false;
					}
					if(!a.test($('#nurse_pay').val()) || $('#nurse_pay').val()=='') {
						layer.msg('请输入正确阿姨工资！');
						return false;
					}
					if($('#nurse_number').val()==''||$('#nurse_name').val()==''||$('#nurse_id').val()==''){
						layer.msg('请核查阿姨编号及姓名！');
						return false;
					}

					if(!reg.test($('#b_time').val())  ||  !reg.test($('#s_time').val())){
						layer.msg('请输入正确的预计上下户时间！');
						return false;
					}
					if(duibi($('#b_time').val(),$('#s_time').val())  == 1){
						layer.msg('下户时间比上户时间小！');
						return false;
					}



					$('#form_make_order').submit();
				});

//					形成订单 弹窗
					function addRecord(){

						var submit = "javascript:return window.confirm('确定生成订单么？')";
						layer.open({
						  	type: 1,
						  	title: '形成订单',
							area: ['auto', 'auto'], //宽高
							content: '<div class="lay_cnt">'
							+   '<form action="__MODULE__/Order/make_order" method="post" id="form_make_order" class="form" onsubmit="'+submit+'"  enctype="multipart/form-data">'
									+	'<div class="opn_div clear">'
									+		'<label>合同金额：</label><input type="number" class="form-control" value="" name="contract_money" id="contract_money"/><input type="hidden"  value="{$info.id}" name="id"/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>已收金额：</label><input type="number" class="form-control" value="" name="get_money" id="get_money"/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>阿姨编号：</label><input type="text" class="form-control" value="" style="width: 60%;"  name="nurse_number" id="nurse_number"/> <button type="button" style="vertical-align: middle;float:right;" class="check_number btnform magrin0">核查</button>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>阿姨姓名：</label><input type="text" class="form-control" value="" name="nurse_name" id="nurse_name" readonly/><input type="hidden" value="" name="nurse_id" id="nurse_id"/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>阿姨工资：</label><input type="number" class="form-control" value="" name="nurse_pay" id="nurse_pay" readonly/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>保险时长：</label>'
									+		'<select class="form-control" name="safe_time" id="safe_time">'
									+     		'<option>1个月</option>'
									+     		'<option>2个月</option>'
									+     		'<option>3个月</option>'
									+     		'<option>4个月</option>'
									+     		'<option>5个月</option>'
									+     		'<option>6个月</option>'
									+     		'<option>7个月</option>'
									+     		'<option>8个月</option>'
									+     		'<option>9个月</option>'
									+     		'<option>10个月</option>'
									+     		'<option>11个月</option>'
									+     		'<option>12个月</option>'
									+ 		'</select>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>预计上户：</label><input type="text" class="form-control" value="" name="b_time" id="b_time" placeholder="2016-01-01"/>'
									+	'</div>'
									+	'<div class="opn_div clear">'
									+		'<label>预计下户：</label><input type="text" class="form-control" value="" name="s_time" id="s_time" placeholder="2016-01-01"/>'
									+	'</div>'
									+	'<div class="btn_div clear">'
									+		'<button type="button" class="default_btn" id="make_order">生成</button>'
									+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
									+	'</div>'
									+	'</form>'
									+'</div>'
						});
					}
					function close_lay(){
						layer.closeAll();
					}	
			</script>
</body>

</html>