<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[田螺阿姨]后台</title>


</head>

<body>
			<!--top-->
			<include  file="Nav/header"/>
			<!--left end-->
			<script>
				$('.left_menu li').eq(1).addClass('called');
			</script>
			<!--main-->
			<div class="col-md-10 main">
				<div class="tab_tle">
					<span class="int_s"></span>派单列表
				</div>
				<div class="form-inline">
					<div class="form-group">
						 <label>档案编号</label><input type="text" class="form-control" id="number"/>
					</div>
					<div class="form-group">
						 <label>客户姓名</label><input type="text" class="form-control" id="name"/>
					</div>
					<div class="form-group">
						 <label>联系方式</label><input type="text" class="form-control" id="phone"/>
					</div>
					<if condition="$_SESSION[C('USER_AUTH_KEY')]['permission'] eq 11">
					<div class="form-group">
						 <label>派单顾问</label>
						<select class="form-control" id="employee_id">
							<option value="0">全部</option>
							<volist name="employee" id="vo">
								<option value="{$vo.id}">{$vo.real_name}</option>
							</volist>

							<!--<option>黄显均</option>-->
							<!--<option>黄显均2</option>-->
						</select>

					</div>
						</if>
					<div class="form-group">
						 <label>派单时间</label><input type="text" class="form-control" id="add_time"/>
					</div>
					<div class="form-group">
						 <button type="submit" class="subform" id="search">搜索</button>
					</div>
					
				</div>
				<table class="tab_info">
					<tbody>
						<tr class="present_num">
							<td colspan="14">
								当前搜索订单：<span id="show_number_str"></span>条
							</td>
						</tr>
						<tr class="info_name">
							<td width="10%">档案编号</td>
							<td width="10%">客户姓名</td>
							<td width="10%">联系方式</td>
							<td width="10%">类型</td>
							<td width="10%">派单顾问</td>
							<td width="15%">客户需求</td>
							<td width="10%">派单时间</td>
							<td width="10%">操作</td>
						</tr>
						<!--<tr>-->
							<!--<td>0000001</td>-->
							<!--<td>李翰宇</td>-->
							<!--<td>18382389676</td>-->
							<!--<td>无</td>-->
							<!--<td>无</td>-->
							<!--<td>2016-7-21 15:50:49</td>-->
							<!--<td><a href="changeSendOrder.html">编辑</a><a href="#">删除</a></td>-->
						<!--</tr>-->
						
						<tr class="last_tr">
							<td colspan="14" class="clear">
								
								<!--分页-->

								<div class="page" id="pagenum" style="margin:0 auto;width: 80%; text-align: left;display: inline-block;">

								</div>
								
								<!--分页end-->
								<div class="btn_modular">
									<button type="button" class="btnform" onclick="location.href='__MODULE__/Order/addOrder.html'">新增派单</button>
								</div>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<script src="__PUBLIC__/js/order.js"></script>


			<script>
				$('#del_this').live('click',function(){
					var order_id = $(this).attr('order_id');
					layer.open({
						type: 1,
						title: '放入回收站？',
						area: ['auto', 'auto'], //宽高
						content: '<div class="lay_cnt">'
						+   '<form action="__MODULE__/Order/del_order" method="post" id="form_del" class="form"   enctype="multipart/form-data">'
						+	'<div class="opn_div clear">'
						+		'<label>原因：</label><input type="text" class="form-control" value="" name="reason" id="reason"/><input type="hidden"  value="'+order_id+'" name="id"/>'
						+	'</div>'
						+	'<div class="btn_div clear">'
						+		'<button type="submit" class="default_btn" id="sub_del">确定</button>'
						+		'<button type="button" class="default_btn" onclick="close_lay()">取消</button>'
						+	'</div>'
						+	'</form>'
						+'</div>'
					});
				});

				$('#sub_del').live('click',function(){
					if($('#reason').val()==''){
						layer.msg('请填写原因！');
						return false;
					}
					$('#form_del').submit();
				});

				function close_lay(){
					layer.closeAll();
				}


			</script>

			<!--main end-->
</body>

</html>
